In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\prachi\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\prachi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\prachi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\prachi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\prachi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import urllib

In [111]:
driver = webdriver.Chrome(executable_path="E:\\prachi datatrained\\FlipRoboTech\\chromedriver.exe")

C:\Users\Prachi\AppData\Local\Temp/ipykernel_1908/2163838404.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="E:\\prachi datatrained\\FlipRoboTech\\chromedriver.exe")

In [68]:
print(type(driver))

<class 'selenium.webdriver.chrome.webdriver.WebDriver'>

In [49]:
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [5]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [7]:
from selenium.webdriver.common.by import By

In [46]:
YouTubeVideos = []

table = driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[2]/tbody")

for row in table:
    #print(row.find_elements(By.TAG_NAME,"td"))
    cols = row.find_elements(By.TAG_NAME,"tr")
    for td in cols:
        cells = td.find_elements(By.TAG_NAME,"td")        
        data = {
            "Rank":cells[0].text,
            "Name":cells[1].text,
            "Artist":cells[2].text,
            "Upload Date":cells[3].text,
            "Views":cells[4].text
            
        }
        YouTubeVideos.append(data)

for name in YouTubeVideos:
    print(name['Rank'],name['Name'],name['Artist'],name['Upload Date'],name['Views'])
    
df=pd.DataFrame(YouTubeVideos)

1. "Baby Shark Dance"[3] Pinkfong Baby Shark - Kids' Songs & Stories 11.40 June 17, 2016
2. "Despacito"[6] Luis Fonsi 7.98 January 12, 2017
3. "Johny Johny Yes Papa"[12] LooLoo Kids 6.47 October 8, 2016
4. "Shape of You"[13] Ed Sheeran 5.81 January 30, 2017
5. "See You Again"[15] Wiz Khalifa 5.64 April 6, 2015
6. "Bath Song"[20] Cocomelon – Nursery Rhymes 5.63 May 2, 2018
7. "Phonics Song with Two Words"[21] ChuChu TV 4.90 March 6, 2014
8. "Uptown Funk"[22] Mark Ronson 4.70 November 19, 2014
9. "Learning Colors – Colorful Eggs on a Farm"[23] Miroshka TV 4.65 February 27, 2018
10. "Gangnam Style"[24] Psy 4.55 July 15, 2012
11. "Masha and the Bear – Recipe for Disaster"[29] Get Movies 4.51 January 31, 2012
12. "Wheels on the Bus"[30] Cocomelon – Nursery Rhymes 4.40 May 24, 2018
13. "Dame Tu Cosita"[31] El Chombo 4.07 April 5, 2018
14. "Sugar"[32] Maroon 5 3.76 January 14, 2015
15. "Roar"[33] Katy Perry 3.66 September 5, 2013
16. "Counting Stars"[34] OneRepublic 3.65 May 31, 2013
17. "Sorry"[35] Justin Bieber 3.59 October 22, 2015
18. "Axel F"[36] Crazy Frog 3.52 June 16, 2009
18. "Thinking Out Loud"[37] Ed Sheeran 3.50 October 7, 2014
20. "Baa Baa Black Sheep"[38] Cocomelon – Nursery Rhymes 3.38 June 25, 2018
21. "Dark Horse"[39] Katy Perry 3.35 February 20, 2014
22. "Faded"[40] Alan Walker 3.34 December 3, 2015
23. "Girls Like You"[41] Maroon 5 3.33 May 31, 2018
24. "Let Her Go"[42] Passenger 3.30 July 25, 2012
25. "Bailando"[43] Enrique Iglesias 3.27 April 11, 2014
26. "Lean On"[44] Major Lazer 3.26 March 22, 2015
27. "Perfect"[45] Ed Sheeran 3.26 November 9, 2017
28. "Waka Waka (This Time for Africa)"[46] Shakira 3.25 June 4, 2010
29. "Shake It Off"[47] Taylor Swift 3.21 August 18, 2014
30. "Humpty the train on a fruits ride"[48] Kiddiestv Hindi – Nursery Rhymes & Kids Songs 3.17 January 26, 2018

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/

In [47]:
driver.get("https://www.bcci.tv/")

In [50]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='navigation']/ul[1]/li[2]/a"))).click()

In [57]:
body = driver.find_element(By.XPATH,"//*[@id='fixtures']/div[3]")
fixtures = []
products = driver.find_elements(By.CLASS_NAME,'fixture-card-main.col-lg-3.col-md-6.col-sm-12.ng-scope')
for product in products:
    Series = product.find_elements(By.CLASS_NAME, 'country-name.ng-binding')
    try:
        Series1 = Series[0].text
    except Exception as ex:
        Series1 = '-'
    try:    
        Series2 = Series[1].text
    except Exception as ex:
        Series2 = '-'
        
    data =  { 
        "Match Title":product.find_element(By.CLASS_NAME,"ng-binding").text,
        "Series1":Series1,
        "Vs":product.find_element(By.CLASS_NAME,"small-seprator").text,
        "Series2":Series2,
        "Place":product.find_element(By.CLASS_NAME,"ng-binding.ng-scope").text,
        "Date":product.find_element(By.CLASS_NAME,"match-card-left.match-schedule").text,
        "Time":product.find_element(By.CLASS_NAME,"text-right.ng-binding").text
    }
    fixtures.append(data)
for name in fixtures:
    print(name['Match Title'],name['Series1'],name['Vs'],name['Series2'],name['Place'],name['Date'],name['Time'])
    
df=pd.DataFrame(fixtures)

SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23 India vs South Africa 2nd T20I - Barsapara Cricket Stadium, Guwahati 2 OCT 2022 7:00 PM IST
ASIA CUP WOMENS 2022 India Women vs Malaysia Women 2nd T20I - Sylhet Outer Cricket Stadium, Sylhet 3 OCT 2022 1:00 PM IST
ASIA CUP WOMENS 2022 India Women vs United Arab Emirates Women 3rd T20I - Sylhet Outer Cricket Stadium, Sylhet 4 OCT 2022 1:00 PM IST
SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23 India vs South Africa 3rd T20I - Holkar Cricket Stadium, Indore 4 OCT 2022 7:00 PM IST
SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23 India vs South Africa 1st ODI - Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow 6 OCT 2022 1:30 PM IST
ASIA CUP WOMENS 2022 India Women vs Pakistan Women 4th T20I - Sylhet International Cricket Stadium, Sylhet 7 OCT 2022 1:00 PM IST
ASIA CUP WOMENS 2022 India Women vs Bangladesh Women 5th T20I - Sylhet International Cricket Stadium, Sylhet 8 OCT 2022 1:00 PM IST
SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23 India vs South Africa 2nd ODI - JSCA International Stadium Complex, Ranchi 9 OCT 2022 1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [69]:
driver.get("http://www.guru99.com/")

In [71]:
textboxes=driver.find_element(By.XPATH,"//*[@id='gsc-i-id1']")
print(textboxes)
textboxes.send_keys("Selenium Exception")

<selenium.webdriver.remote.webelement.WebElement (session="1bd0f25ce965f741b578509d2ea85408", element="096c77a8-b3d8-4fd4-bcc9-9b85373e817e")>

In [72]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.CLASS_NAME, "gsc-search-button"))).click()

In [73]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='___gcse_0']/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a"))).click()

In [74]:
currentULR = driver.current_url
print(currentULR)

https://www.guru99.com/

In [75]:
driver.switch_to.window(driver.window_handles[1])

In [76]:
currentULR = driver.current_url
print(currentULR)

https://www.guru99.com/exception-handling-selenium.html

In [104]:
print(WebDriverWait(driver, 20).until(EC.visibility_of_element_located((By.XPATH, "/html/body/div[1]/div/div/div/main/div/article/div/div/p"))).text)

1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.

In [109]:
text = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p").text
Name = text.split(":")[0].strip()
Description = text.split(":")[-1].strip()
print(Name)
print(Description)

1. ElementNotVisibleException
This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [112]:
driver.get("http://statisticstimes.com/")

In [114]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='top']/div[2]/div[2]/div/a[3]"))).click()

In [115]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a"))).click()

# GSDP

In [129]:
GDP = []
table = driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody")
for row in table:
    #print(row.find_elements(By.TAG_NAME,"td"))
    cols = row.find_elements(By.TAG_NAME,"tr")
    for td in cols:
        cells = td.find_elements(By.TAG_NAME,"td")        
        data = {
            "Rank":cells[0].text,
            "State":cells[1].text,
            "GSDP(18-19)":cells[2].text,
            "GSDP(17-18)":cells[3].text,
            "Share(2017)":cells[4].text,
            "GDP($ billion)":cells[5].text
        }
        GDP.append(data)
    
for name in GDP:
    print(name['Rank'],name['State'],name['GSDP(18-19)'],name['GSDP(17-18)'],name['Share(2017)'],name['GDP($ billion)'])
    
df=pd.DataFrame(GDP)
df

1 Maharashtra - 2,632,792 13.94% 399.921
2 Tamil Nadu 1,845,853 1,630,208 8.63% 247.629
3 Uttar Pradesh 1,687,818 1,584,764 8.39% 240.726
4 Gujarat - 1,502,899 7.96% 228.290
5 Karnataka 1,631,977 1,493,127 7.91% 226.806
6 West Bengal 1,253,832 1,089,898 5.77% 165.556
7 Rajasthan 1,020,989 942,586 4.99% 143.179
8 Andhra Pradesh 972,782 862,957 4.57% 131.083
9 Telangana 969,604 861,031 4.56% 130.791
10 Madhya Pradesh 906,672 809,592 4.29% 122.977
11 Kerala - 781,653 4.14% 118.733
12 Delhi 856,112 774,870 4.10% 117.703
13 Haryana 831,610 734,163 3.89% 111.519
14 Bihar 611,804 530,363 2.81% 80.562
15 Punjab 574,760 526,376 2.79% 79.957
16 Odisha 521,275 487,805 2.58% 74.098
17 Assam - 315,881 1.67% 47.982
18 Chhattisgarh 329,180 304,063 1.61% 46.187
19 Jharkhand 328,598 297,204 1.57% 45.145
20 Uttarakhand - 245,895 1.30% 37.351
21 Jammu & Kashmir - 155,956 0.83% 23.690
22 Himachal Pradesh 165,472 153,845 0.81% 23.369
23 Goa 80,449 73,170 0.39% 11.115
24 Tripura 55,984 49,845 0.26% 7.571
25 Chandigarh - 42,114 0.22% 6.397
26 Puducherry 38,253 34,433 0.18% 5.230
27 Meghalaya 36,572 33,481 0.18% 5.086
28 Sikkim 32,496 28,723 0.15% 4.363
29 Manipur 31,790 27,870 0.15% 4.233
30 Nagaland - 27,283 0.14% 4.144
31 Arunachal Pradesh - 24,603 0.13% 3.737
32 Mizoram 26,503 22,287 0.12% 3.385
33 Andaman & Nicobar Islands - - - -

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# NSDP

In [130]:
NSDP = []
table = driver.find_elements(By.XPATH,"//*[@id='table_id1']/tbody")
for row in table:
    #print(row.find_elements(By.TAG_NAME,"td"))
    cols = row.find_elements(By.TAG_NAME,"tr")
    for td in cols:
        cells = td.find_elements(By.TAG_NAME,"td")        
        data = {
            "Rank":cells[0].text,
            "State":cells[1].text,
            "GSDP(18-19)":cells[2].text,
            "GSDP(17-18)":cells[3].text,
            "Share(2017)":cells[4].text,
            "GDP($ billion)":cells[5].text
        }
        NSDP.append(data)
    
for name in NSDP:
    print(name['Rank'],name['State'],name['GSDP(18-19)'],name['GSDP(17-18)'],name['Share(2017)'],name['GDP($ billion)'])
    
df=pd.DataFrame(NSDP)
df

1 Maharashtra - 2,332,992 13.97% -
2 Tamil Nadu 1,659,210 1,465,361 8.77% 1,167,776
3 Uttar Pradesh 1,495,758 1,404,761 8.41% 1,015,735
4 Karnataka 1,476,983 1,351,553 8.09% 1,035,131
5 Gujarat - 1,322,936 7.92% -
6 West Bengal 1,150,711 995,502 5.96% 713,376
7 Rajasthan 916,014 845,247 5.06% 630,693
8 Telangana 881,873 782,370 4.68% 594,806
9 Andhra Pradesh 875,429 776,140 4.65% 595,605
10 Madhya Pradesh 827,019 737,156 4.41% 496,798
11 Kerala - 707,542 4.24% -
12 Delhi 779,647 704,529 4.22% 568,265
13 Haryana 755,790 666,075 3.99% 514,983
14 Bihar 562,710 486,776 2.91% 377,276
15 Punjab 517,521 472,506 2.83% 374,015
16 Odisha 457,757 428,031 2.56% 344,437
17 Assam - 282,782 1.69% -
18 Jharkhand 301,242 271,990 1.63% 218,232
19 Chhattisgarh 288,041 266,537 1.60% 210,837
20 Uttarakhand - 221,871 1.33% -
21 Himachal Pradesh 143,063 133,303 0.80% 107,171
22 Jammu & Kashmir - 129,877 0.78% -
23 Goa 72,181 66,060 0.40% 56,810
24 Tripura 50,227 44,835 0.27% 35,980
25 Chandigarh - 37,571 0.22% -
26 Puducherry 34,823 31,415 0.19% 22,291
27 Meghalaya 32,833 29,544 0.18% 23,564
28 Manipur 29,148 25,323 0.15% 18,549
29 Sikkim 28,391 25,141 0.15% 17,060
30 Nagaland - 24,534 0.15% -
31 Arunachal Pradesh - 22,488 0.13% -
32 Mizoram 24,424 20,947 0.13% 17,797
33 Andaman & Nicobar Islands - - - -

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,-,"2,332,992",13.97%,-
1,2,Tamil Nadu,"1,659,210","1,465,361",8.77%,"1,167,776"
2,3,Uttar Pradesh,"1,495,758","1,404,761",8.41%,"1,015,735"
3,4,Karnataka,"1,476,983","1,351,553",8.09%,"1,035,131"
4,5,Gujarat,-,"1,322,936",7.92%,-
5,6,West Bengal,"1,150,711","995,502",5.96%,"713,376"
6,7,Rajasthan,"916,014","845,247",5.06%,"630,693"
7,8,Telangana,"881,873","782,370",4.68%,"594,806"
8,9,Andhra Pradesh,"875,429","776,140",4.65%,"595,605"
9,10,Madhya Pradesh,"827,019","737,156",4.41%,"496,798"
10,11,Kerala,-,"707,542",4.24%,-
11,12,Delhi,"779,647","704,529",4.22%,"568,265"
12,13,Haryana,"755,790","666,075",3.99%,"514,983"
13,14,Bihar,"562,710","486,776",2.91%,"377,276"
14,15,Punjab,"517,521","472,506",2.83%,"374,015"
15,16,Odisha,"457,757","428,031",2.56%,"344,437"
16,17,Assam,-,"282,782",1.69%,-
17,18,Jharkhand,"301,242","271,990",1.63%,"218,232"
18,19,Chhattisgarh,"288,041","266,537",1.60%,"210,837"
19,20,Uttarakhand,-,"221,871",1.33%,-
20,21,Himachal Pradesh,"143,063","133,303",0.80%,"107,171"
21,22,Jammu & Kashmir,-,"129,877",0.78%,-
22,23,Goa,"72,181","66,060",0.40%,"56,810"
23,24,Tripura,"50,227","44,835",0.27%,"35,980"
24,25,Chandigarh,-,"37,571",0.22%,-
25,26,Puducherry,"34,823","31,415",0.19%,"22,291"
26,27,Meghalaya,"32,833","29,544",0.18%,"23,564"
27,28,Manipur,"29,148","25,323",0.15%,"18,549"
28,29,Sikkim,"28,391","25,141",0.15%,"17,060"
29,30,Nagaland,-,"24,534",0.15%,-
30,31,Arunachal Pradesh,-,"22,488",0.13%,-
31,32,Mizoram,"24,424","20,947",0.13%,"17,797"
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [131]:
driver.get("https://github.com/")

In [132]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a"))).click()

In [177]:
body = driver.find_element(By.XPATH,"/html/body/div[4]/main/div[3]")
repositories=[]
products = driver.find_elements(By.CLASS_NAME,'Box-row')
for product in products:
    #print(product.find_element(By.XPATH,'//span[@itemprop="programmingLanguage"]').text)    
    try:
        RepositoryDescription = product.find_element(By.CLASS_NAME, 'col-9.color-fg-muted').text
    except Exception as ex:
        RepositoryDescription = '-'
    Contributors = product.find_elements(By.CLASS_NAME, 'Link--muted.d-inline-block')   
    try:
        ContributorsCount = Contributors[1].text
    except Exception as ex:
        ContributorsCount = '-'    
    data =  { 
        "Repository title":product.find_element(By.CLASS_NAME,"text-normal").text.replace('/',''),
        "Repository description":RepositoryDescription,
        "Contributors count":ContributorsCount,
        "Language used": product.find_element(By.XPATH,'//span[@itemprop="programmingLanguage"]').text

        
    }
    repositories.append(data)
    
for name in repositories:
    print(name['Repository title'],name['Repository description'],name['Contributors count'],name['Language used'])

total-typescript  An interactive TypeScript tutorial for beginners 576 TypeScript
penpot  Penpot - The Open-Source design & prototyping platform 792 TypeScript
cypress-io  Fast, easy and reliable testing for anything that runs in a browser. 2,560 TypeScript
google  GoogleTest - Google Testing and Mocking Framework 8,857 TypeScript
lucidrains  Implementation of Make-A-Video, new SOTA text to video generator from Meta AI, in Pytorch 25 TypeScript
NielsRogge  This repository contains demos I made with the Transformers library by HuggingFace. 383 TypeScript
nv-tlabs  - 53 TypeScript
inspiradanacomputacao  Manifesto de Pessoas Tecnologistas contra Bolsonaro 140 TypeScript
Ildaron  Open-Source Laser for control mosquito, weed, and pest 39 TypeScript
developedbyed  - 20 TypeScript
Nickyie  A Library of various cybersecurity resources 199 TypeScript
isaced  一个用 SwiftUI 编写的 V2ex macOS 客户端（Beta） 26 TypeScript
IceWhaleTech  CasaOS - A simple, easy-to-use, elegant open-source Home Cloud system. 412 TypeScript
Asabeneh  30 days of Python programming challenge is a step-by-step guide to learn the Python programming language in 30 days. This challenge may take more than100 days, follow your own pace. 3,508 TypeScript
google  Generates LaTeX math description from Python functions. 186 TypeScript
denoland  A modern runtime for JavaScript and TypeScript. 4,625 TypeScript
phoenixframework  Peace of mind from prototype to production 2,500 TypeScript
microsoft  24 Lessons, 12 Weeks, Get Started as a Web Developer 8,782 TypeScript
CompVis  A latent text-to-image diffusion model 4,184 TypeScript
fireship-io  Build and ship your app faster https://fireship.io 902 TypeScript
lidangzzz  立党老师的润学（零基础转码/移民/留学/海外创业/永居）笔记 41 TypeScript
novuhq  🚀 The open-source notifications infrastructure. A fully-featured microservice to send SMS, E-mail, Slack and Push notifications. Embeddable notification center for React with real-time updates, content management, and much more... 499 TypeScript
docker  Awesome Docker Compose samples 2,822 TypeScript
Asabeneh  30 days of JavaScript programming challenge is a step-by-step guide to learn JavaScript programming language in 30 days. This challenge may take more than 100 days, please just follow your own pace. 6,384 TypeScript
dosisod  A tool for refurbishing and modernizing Python codebases 12 TypeScript

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

In [178]:
driver.get("https://www.billboard.com/")

In [179]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='main-wrapper']/header/div/div[3]/div/nav/ul/li[1]/a"))).click()

In [188]:
body = driver.find_element(By.XPATH,"//*[@id='post-1479786']/div[3]/div/div/div")
Songs=[]

products = driver.find_elements(By.CLASS_NAME,'o-chart-results-list-row-container')
for product in products:
    Rank = product.find_elements(By.CLASS_NAME,"c-label.a-font-primary-bold-l.a-font-primary")    
    try:
        LastWeek = Rank[0].text
    except Exception as ex:
        LastWeek = '-'
    try:
        Peak = Rank[1].text
    except Exception as ex:
        Peak = '-'
    try:
        WeeksBoard = Rank[2].text
    except Exception as ex:
        WeeksBoard = '-'    
    data =  { 
        "Song name":product.find_element(By.CLASS_NAME,"c-title.a-no-trucate.a-font-primary-bold-s.u-letter-spacing-0021").text,
        "Artist name":product.find_element(By.CLASS_NAME,"c-label.a-no-trucate.a-font-primary-s").text,
        "LastWeek Rank":LastWeek,
        "Peak Rank":Peak,
        "Weeks on Board":WeeksBoard
    }
    Songs.append(data)

products = driver.find_elements(By.CLASS_NAME,'o-chart-results-list-row-container')
for product in products:
    Rank = product.find_elements(By.CLASS_NAME,"c-label.a-font-primary-m")    
    try:
        LastWeek = Rank[0].text
    except Exception as ex:
        LastWeek = '-'
    try:
        Peak = Rank[1].text
    except Exception as ex:
        Peak = '-'
    try:
        WeeksBoard = Rank[2].text
    except Exception as ex:
        WeeksBoard = '-'    
    data =  { 
        "Song name":product.find_element(By.CLASS_NAME,"c-title.a-no-trucate.a-font-primary-bold-s.u-letter-spacing-0021").text,
        "Artist name":product.find_element(By.CLASS_NAME,"c-label.a-no-trucate.a-font-primary-s").text,
        "LastWeek Rank":LastWeek,
        "Peak Rank":Peak,
        "Weeks on Board":WeeksBoard
    }
    Songs.append(data)
    
for name in Songs:
    print(name['Song name'],'-',name['Artist name'],name['LastWeek Rank'],name['Peak Rank'],name['Weeks on Board'])

As It Was - Harry Styles - - -
Bad Habit - Steve Lacy - - -
I Like You (A Happier Song) - Post Malone Featuring Doja Cat - - -
Sunroof - Nicky Youre & dazy - - -
Super Freaky Girl - Nicki Minaj - - -
You Proof - Morgan Wallen - - -
I Ain't Worried - OneRepublic - - -
The Kind Of Love We Make - Luke Combs - - -
About Damn Time - Lizzo - - -
Wait For U - Future Featuring Drake & Tems - - -
Late Night Talking - Harry Styles - - -
Me Porto Bonito - Bad Bunny & Chencho Corleone - - -
Titi Me Pregunto - Bad Bunny - - -
Vegas - Doja Cat - - -
Wasted On You - Morgan Wallen - - -
She Had Me At Heads Carolina - Cole Swindell - - -
Heat Waves - Glass Animals - - -
Jimmy Cooks - Drake Featuring 21 Savage - - -
Running Up That Hill (A Deal With God) - Kate Bush - - -
First Class - Jack Harlow - - -
Something In The Orange - Zach Bryan - - -
5 Foot 9 - Tyler Hubbard - - -
Stay - The Kid LAROI & Justin Bieber - - -
I'm Good (Blue) - David Guetta & Bebe Rexha - - -
Shut Down - BLACKPINK - - -
Break My Soul - Beyonce - - -
Glimpse Of Us - Joji - - -
Hold Me Closer - Elton John & Britney Spears - - -
Under The Influence - Chris Brown - - -
Thank God - Kane Brown With Katelyn Brown - - -
Moscow Mule - Bad Bunny - - -
Fall In Love - Bailey Zimmerman - - -
Betty (Get Money) - Yung Gravy - - -
Romantic Homicide - d4vd - - -
In A Minute - Lil Baby - - -
Ghost - Justin Bieber - - -
Rock And A Hard Place - Bailey Zimmerman - - -
Unstoppable - Sia - - -
Son Of A Sinner - Jelly Roll - - -
Big Energy - Latto - - -
Last Night Lonely - Jon Pardi - - -
Staying Alive - DJ Khaled Featuring Drake & Lil Baby - - -
F.N.F. (Let's Go) - Hitkidd & GloRilla - - -
Left And Right - Charlie Puth Featuring Jung Kook - - -
Numb - Marshmello & Khalid - - -
Die For You - The Weeknd - - -
Efecto - Bad Bunny - - -
Victoria’s Secret - Jax - - -
Bones - Imagine Dragons - - -
Whiskey On You - Nate Smith - - -
Last Last - Burna Boy - - -
Free Mind - Tems - - -
So Good - Halsey - - -
Wishful Drinking - Ingrid Andress With Sam Hunt - - -
Sleazy Flow - SleazyWorld Go Featuring Lil Baby - - -
Golden Hour - JVKE - - -
Pink Venom - BLACKPINK - - -
Gatubela - Karol G x Maldy - - -
Until I Found You - Stephen Sanchez - - -
Don't Come Lookin' - Jackson Dean - - -
Cuff It - Beyonce - - -
Evergreen - Omar Apollo - - -
Put It On Me - YoungBoy Never Broke Again - - -
Truth About You - Mitchell Tenpenny - - -
Despecha - Rosalia - - -
Dah Dah DahDah - Nardo Wick - - -
Party - Bad Bunny & Rauw Alejandro - - -
2 Be Loved (Am I Ready) - Lizzo - - -
Billie Eilish. - Armani White - - -
Ojitos Lindos - Bad Bunny & Bomba Estereo - - -
Freestyle - Lil Baby - - -
All Mine - Brent Faiyaz - - -
What My World Spins Around - Jordan Davis - - -
Neverita - Bad Bunny - - -
Half Of Me - Thomas Rhett Featuring Riley Green - - -
She Likes It - Russell Dickerson & Jake Scott - - -
Talk - Yeat - - -
Ghost Story - Carrie Underwood - - -
Music For A Sushi Restaurant - Harry Styles - - -
Wait In The Truck - HARDY Featuring Lainey Wilson - - -
Despues de La Playa - Bad Bunny - - -
Static - Steve Lacy - - -
Like I Love Country Music - Kane Brown - - -
Detox - Lil Baby - - -
La Bachata - Manuel Turizo - - -
With A Woman You Love - Justin Moore - - -
Country On - Luke Bryan - - -
Calm Down - Rema & Selena Gomez - - -
Tarot - Bad Bunny & Jhay Cortez - - -
Pick Me Up - Gabby Barrett - - -
Hell Yeah - Little Big Town - - -
Wild As Her - Corey Kent - - -
Love In The Way - BLEU & Nicki Minaj - - -
Hot Shit - Cardi B, Ye & Lil Durk - - -
Dark Red - Steve Lacy - - -
Thought You Should Know - Morgan Wallen - - -
Where It Ends - Bailey Zimmerman - - -
Backstage Passes - EST Gee Featuring Jack Harlow - - -
Snap - Rosa Linn - - -
Beat The Odds - Lil Tjay - - -
As It Was - Harry Styles - - -
Bad Habit - Steve Lacy 2 2 12
I Like You (A Happier Song) - Post Malone Featuring Doja Cat 5 3 16
Sunroof - Nicky Youre & dazy 4 4 17
Super Freaky Girl - Nicki Minaj 3 1 6
You Proof - Morgan Wallen 6 6 19
I Ain't Worried - OneRepublic 8 7 15
The Kind Of Love We Make - Luke Combs 14 8 14
About Damn Time - Lizzo 7 1 23
Wait For U - Future Featuring Drake & Tems 10 1 21
Late Night Talking - Harry Styles 9 3 18
Me Porto Bonito - Bad Bunny & Chencho Corleone 11 6 20
Titi Me Pregunto - Bad Bunny 13 5 20
Vegas - Doja Cat 15 14 16
Wasted On You - Morgan Wallen 16 9 45
She Had Me At Heads Carolina - Cole Swindell 18 16 17
Heat Waves - Glass Animals 17 1 88
Jimmy Cooks - Drake Featuring 21 Savage 20 1 14
Running Up That Hill (A Deal With God) - Kate Bush 12 3 37
First Class - Jack Harlow 19 1 24
Something In The Orange - Zach Bryan 25 21 22
5 Foot 9 - Tyler Hubbard 24 22 15
Stay - The Kid LAROI & Justin Bieber 23 1 63
I'm Good (Blue) - David Guetta & Bebe Rexha 31 24 4
Shut Down - BLACKPINK - 25 1
Break My Soul - Beyonce 21 1 14
Glimpse Of Us - Joji 27 8 15
Hold Me Closer - Elton John & Britney Spears 26 6 4
Under The Influence - Chris Brown 36 29 2
Thank God - Kane Brown With Katelyn Brown 22 22 2
Moscow Mule - Bad Bunny 28 4 20
Fall In Love - Bailey Zimmerman 39 31 21
Betty (Get Money) - Yung Gravy 30 30 11
Romantic Homicide - d4vd 45 34 3
In A Minute - Lil Baby 32 14 24
Ghost - Justin Bieber 33 5 52
Rock And A Hard Place - Bailey Zimmerman 38 24 15
Unstoppable - Sia 40 38 12
Son Of A Sinner - Jelly Roll 37 37 12
Big Energy - Latto 29 3 48
Last Night Lonely - Jon Pardi 35 27 17
Staying Alive - DJ Khaled Featuring Drake & Lil Baby 34 5 7
F.N.F. (Let's Go) - Hitkidd & GloRilla 42 42 17
Left And Right - Charlie Puth Featuring Jung Kook 41 22 13
Numb - Marshmello & Khalid 43 40 12
Die For You - The Weeknd 49 43 8
Efecto - Bad Bunny 44 34 20
Victoria’s Secret - Jax 50 48 8
Bones - Imagine Dragons 47 47 18
Whiskey On You - Nate Smith 70 50 14
Last Last - Burna Boy 54 51 11
Free Mind - Tems 52 52 10
So Good - Halsey 51 51 15
Wishful Drinking - Ingrid Andress With Sam Hunt 56 51 12
Sleazy Flow - SleazyWorld Go Featuring Lil Baby 58 47 17
Golden Hour - JVKE 62 56 4
Pink Venom - BLACKPINK 74 22 5
Gatubela - Karol G x Maldy 53 37 4
Until I Found You - Stephen Sanchez 69 59 12
Don't Come Lookin' - Jackson Dean 71 60 4
Cuff It - Beyonce 85 13 6
Evergreen - Omar Apollo - 62 1
Put It On Me - YoungBoy Never Broke Again 66 63 2
Truth About You - Mitchell Tenpenny 55 54 10
Despecha - Rosalia 65 63 7
Dah Dah DahDah - Nardo Wick 59 48 8
Party - Bad Bunny & Rauw Alejandro 61 14 20
2 Be Loved (Am I Ready) - Lizzo 67 67 6
Billie Eilish. - Armani White - 69 2
Ojitos Lindos - Bad Bunny & Bomba Estereo 60 26 20
Freestyle - Lil Baby 68 68 2
All Mine - Brent Faiyaz 75 42 7
What My World Spins Around - Jordan Davis 78 73 6
Neverita - Bad Bunny 72 31 11
Half Of Me - Thomas Rhett Featuring Riley Green 80 75 5
She Likes It - Russell Dickerson & Jake Scott 79 63 25
Talk - Yeat 48 42 3
Ghost Story - Carrie Underwood 82 61 18
Music For A Sushi Restaurant - Harry Styles 87 8 10
Wait In The Truck - HARDY Featuring Lainey Wilson 99 80 3
Despues de La Playa - Bad Bunny 73 6 20
Static - Steve Lacy 94 82 3
Like I Love Country Music - Kane Brown 57 26 18
Detox - Lil Baby 64 25 3
La Bachata - Manuel Turizo 86 85 5
With A Woman You Love - Justin Moore 81 59 9
Country On - Luke Bryan 89 76 5
Calm Down - Rema & Selena Gomez 92 88 3
Tarot - Bad Bunny & Jhay Cortez 88 18 20
Pick Me Up - Gabby Barrett - 69 8
Hell Yeah - Little Big Town - 91 1
Wild As Her - Corey Kent - 75 9
Love In The Way - BLEU & Nicki Minaj - 93 1
Hot Shit - Cardi B, Ye & Lil Durk 63 13 12
Dark Red - Steve Lacy - 95 1
Thought You Should Know - Morgan Wallen 98 12 20
Where It Ends - Bailey Zimmerman 93 32 5
Backstage Passes - EST Gee Featuring Jack Harlow - 98 1
Snap - Rosa Linn 97 93 4
Beat The Odds - Lil Tjay 91 36 4

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [189]:
driver.get("http://www.naukri.com/")

In [190]:
textboxes=driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input")
print(textboxes)
textboxes.send_keys("Data science")

<selenium.webdriver.remote.webelement.WebElement (session="96864965e41ce204e85dbfb961e7f8d3", element="65872013-5613-408f-b600-630fb34e7944")>

In [191]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='root']/div[6]/div/div/div[6]"))).click()

In [196]:
body = driver.find_element(By.XPATH,"//*[@id='root']/div[4]/div/section[2]/div[2]")
jobs=[]
products = driver.find_elements(By.CLASS_NAME,'jobTuple.bgWhite.br4.mb-8')
for product in products:
    data =  { 
        "Name":product.find_element(By.CLASS_NAME,"title.fw500.ellipsis").text,
        "Designation":'-',
        "Company":product.find_element(By.CLASS_NAME,"subTitle.ellipsis.fleft").text,
        "Skills":product.find_element(By.CLASS_NAME,"job-description.fs12.grey-text").text,
        "Location":product.find_element(By.CLASS_NAME,"fleft.grey-text.br2.placeHolderLi.location ").text,
    }
    jobs.append(data)
    
for name in jobs:
    print(name['Name'],name['Designation'],name['Company'],name['Skills'],name['Location'])

Senior Analyst-Data Science - Accenture Skill required: Data Science - Python Programming Language Designation: Senior Analyst ... Mumbai
ACN - Applied Intelligence - CC - Data Science (IN) - 06 - Accenture Requirements: Responsible for taking up day-to-day activities for making deliverables t... Gurgaon/Gurugram
Hiring For Data Science role (NLP) - Max 30 Days Notice- Gurugram - Genpact Predictive Analytics Well versed with AI and Machine Learning BTech, MA / Bachelors deg... Gurgaon/Gurugram
Data Science Analyst (From FMCG Ind.)and Sales Coordinator - H K Jewels Roles and Responsibilities Urgently Required Senior Data Science Analyst for Kisna Real... Mumbai
Senior Investment Risk Specialist - Data Science - Wells Fargo Develop, execute, and maintain lending valuation model Advise leadership on lending por... Bangalore/Bengaluru
Data Science Lead - Forecasting - Cargill Own and design statistical model, evaluate differentiating features and deploy forecast... Bangalore/Bengaluru
Senior Analyst & AI Lead - Data Science - Huquo Consulting Pvt. Ltd in Computer scienceInformation Technology ECE or other quantitative disciplines from ti... Faridabad, Gurgaon/Gurugram, Delhi / NCR
Senior Analyst & AI Lead - Data Science - Huquo Consulting Pvt. Ltd in Computer scienceInformation Technology ECE or other quantitative disciplines from ti... Faridabad, Gurgaon/Gurugram, Delhi / NCR
Senior Analyst & AI Lead - Data Science - Huquo Consulting Pvt. Ltd in Computer scienceInformation Technology ECE or other quantitative disciplines from ti... Faridabad, Gurgaon/Gurugram, Delhi / NCR
Senior Analyst - Data Science - IIT/NIT/IIM/XLRI/FMS - HuQuo Must have strong capabilities in problem solving, managing own work diligently, thoroug... Gurgaon/Gurugram
Manager Data Science - Tredence Graduate degree in a quantitative field (CS, statistics, applied mathematics, machine l... Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru
Manager Data Science - Jio Maximum 5 Years & above Mumbai
Data Science- Sr. Manager - Orcapod Consulting Services Private Limited Masters or PhD degree in computer science, applied mathematics, (bio) statistics, appli... Noida, New Delhi, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru
Data Science- Sr. Manager - Orcapod Consulting Services Private Limited Masters or PhD degree in computer science, applied mathematics, (bio) statistics, appli... Noida, New Delhi, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru
Senior Data Science Manager - Inspire Careers 5 years of experience in delivering scalable machine learning-based solutions in a big ... Chennai
AI & Data Science Senior Engineer - Wasoko You should be self-driven and motivated with the desire to work in a fast-paced, result... Bangalore/Bengaluru
Principal Data Science Engineer - Sabre Experience developing customer choice models, price elasticity estimation and market po... Bangalore/Bengaluru
Data Science Engineer - Synopsys Noida - Synopsys Education - from premium collegesShould understand neural networks Noida
Data Science Analyst - Search Advisers Services ( GUJ ) Pvt. Ltd. Roles and Responsibilities As a HR Decision Science Analyst in the Global People Analyt... Bangalore/Bengaluru

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [198]:
driver.get("http://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [204]:
novels=[]
table = driver.find_elements(By.XPATH,"//*[@id='article-body-blocks']/div/table/tbody")
for row in table:
    #print(row.find_elements(By.TAG_NAME,"td"))
    cols = row.find_elements(By.TAG_NAME,"tr")
    for td in cols:
        cells = td.find_elements(By.TAG_NAME,"td")        
        data = {
            "Book Name":cells[1].text,
            "Author Name":cells[2].text,
            "Volumes sold":cells[3].text,
            "Publisher":cells[4].text,
            "Genre":cells[5].text
        }
        novels.append(data)
        
for name in novels:
    name['Book Name'],name['Author Name'],name['Volumes sold'],name['Publisher'],name['Genre']
    
df=pd.DataFrame(novels)
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [205]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [228]:
body = driver.find_element(By.XPATH,"//*[@id='main']/div/div[3]")
series=[]
products = driver.find_elements(By.CLASS_NAME,'lister-item-content')
for product in products:
    Votes = product.find_elements(By.CLASS_NAME,"text-muted.text-small")
    try:
        Vote = Votes[2].text
    except Exception as ex:
        vote = '-'
    data =  { 
        "Name":product.find_element(By.TAG_NAME,"a").text,
        "Year":product.find_element(By.CLASS_NAME,"lister-item-year.text-muted.unbold").text,
        "Genre":product.find_element(By.CLASS_NAME,"genre").text,
        "RunTime":product.find_element(By.CLASS_NAME,"runtime").text,
        "Ratings":product.find_element(By.CLASS_NAME,"ipl-rating-star__rating").text,
        "Votes":Vote
    }
    series.append(data)
    
for name in series:
    print(name['Name'],name['Year'],name['Genre'],name['RunTime'],name['Ratings'],name['Votes'])

Game of Thrones (2011–2019) Action, Adventure, Drama 57 min 9.2 Votes: 2,061,967
Stranger Things (2016– ) Drama, Fantasy, Horror 51 min 8.7 Votes: 1,155,427
The Walking Dead (2010–2022) Drama, Horror, Thriller 44 min 8.1 Votes: 972,576
13 Reasons Why (2017–2020) Drama, Mystery, Thriller 60 min 7.5 Votes: 289,956
The 100 (2014–2020) Drama, Mystery, Sci-Fi 43 min 7.6 Votes: 249,373
Orange Is the New Black (2013–2019) Comedy, Crime, Drama 59 min 8.1 Votes: 300,744
Riverdale (2017– ) Crime, Drama, Mystery 45 min 6.6 Votes: 144,215
Grey's Anatomy (2005– ) Drama, Romance 41 min 7.6 Votes: 304,373
The Flash (2014–2023) Action, Adventure, Drama 43 min 7.6 Votes: 344,512
Arrow (2012–2020) Action, Adventure, Crime 42 min 7.5 Votes: 430,252
Money Heist (2017–2021) Action, Crime, Drama 70 min 8.2 Votes: 470,714
The Big Bang Theory (2007–2019) Comedy, Romance 22 min 8.2 Votes: 800,006
Black Mirror (2011–2019) Drama, Mystery, Sci-Fi 60 min 8.8 Votes: 537,371
Sherlock (2010–2017) Crime, Drama, Mystery 88 min 9.1 Votes: 915,359
Vikings (2013–2020) Action, Adventure, Drama 44 min 8.5 Votes: 525,970
Pretty Little Liars (2010–2017) Drama, Mystery, Romance 44 min 7.4 Votes: 166,798
The Vampire Diaries (2009–2017) Drama, Fantasy, Horror 43 min 7.7 Votes: 319,078
American Horror Story (2011– ) Drama, Horror, Sci-Fi 60 min 8 Votes: 313,889
Breaking Bad (2008–2013) Crime, Drama, Thriller 49 min 9.5 Votes: 1,839,085
Lucifer (2016–2021) Crime, Drama, Fantasy 42 min 8.1 Votes: 319,798
Supernatural (2005–2020) Drama, Fantasy, Horror 44 min 8.4 Votes: 440,525
Prison Break (2005–2017) Action, Crime, Drama 44 min 8.3 Votes: 530,350
How to Get Away with Murder (2014–2020) Crime, Drama, Mystery 43 min 8.1 Votes: 150,628
Teen Wolf (2011–2017) Action, Drama, Fantasy 41 min 7.7 Votes: 147,302
The Simpsons (1989– ) Animation, Comedy 22 min 8.7 Votes: 403,626
Once Upon a Time (2011–2018) Adventure, Fantasy, Romance 60 min 7.7 Votes: 223,831
Narcos (2015–2017) Biography, Crime, Drama 49 min 8.8 Votes: 417,316
Daredevil (2015–2018) Action, Crime, Drama 54 min 8.6 Votes: 435,321
Friends (1994–2004) Comedy, Romance 22 min 8.9 Votes: 981,513
How I Met Your Mother (2005–2014) Comedy, Romance 22 min 8.3 Votes: 677,287
Suits (2011–2019) Comedy, Drama 44 min 8.5 Votes: 406,730
Mr. Robot (2015–2019) Crime, Drama, Thriller 49 min 8.6 Votes: 384,239
The Originals (2013–2018) Drama, Fantasy, Horror 45 min 8.3 Votes: 135,241
Supergirl (2015–2021) Action, Adventure, Drama 43 min 6.2 Votes: 123,813
Gossip Girl (2007–2012) Drama, Romance 42 min 7.5 Votes: 173,680
Sense8 (2015–2018) Drama, Mystery, Sci-Fi 60 min 8.2 Votes: 154,058
Gotham (2014–2019) Action, Crime, Drama 42 min 7.8 Votes: 229,596
Westworld (2016– ) Drama, Mystery, Sci-Fi 62 min 8.5 Votes: 499,565
Jessica Jones (2015–2019) Action, Crime, Drama 56 min 7.9 Votes: 213,530
Modern Family (2009–2020) Comedy, Drama, Romance 22 min 8.5 Votes: 425,096
Rick and Morty (2013– ) Animation, Adventure, Comedy 23 min 9.2 Votes: 505,786
Shadowhunters (2016–2019) Action, Drama, Fantasy 42 min 6.5 Votes: 63,215
The End of the F***ing World (2017–2019) Adventure, Comedy, Crime 25 min 8.1 Votes: 187,028
House of Cards (2013–2018) Drama 51 min 8.7 Votes: 501,545
Dark (2017–2020) Crime, Drama, Mystery 60 min 8.7 Votes: 373,584
Elite (2018– ) Crime, Drama, Thriller 60 min 7.4 Votes: 77,433
Sex Education (2019– ) Comedy, Drama 45 min 8.4 Votes: 274,732
Shameless (2011–2021) Comedy, Drama 46 min 8.6 Votes: 240,237
New Girl (2011–2018) Comedy, Romance 22 min 7.7 Votes: 222,274
Agents of S.H.I.E.L.D. (2013–2020) Action, Adventure, Drama 45 min 7.5 Votes: 216,658
You (2018– ) Crime, Drama, Romance 45 min 7.7 Votes: 235,209
Dexter (2006–2013) Crime, Drama, Mystery 53 min 8.7 Votes: 721,522
Fear the Walking Dead (2015– ) Drama, Horror, Sci-Fi 44 min 6.8 Votes: 129,382
Family Guy (1999– ) Animation, Comedy 22 min 8.2 Votes: 335,576
The Blacklist (2013– ) Crime, Drama, Mystery 43 min 8 Votes: 246,078
Lost (2004–2010) Adventure, Drama, Fantasy 44 min 8.3 Votes: 549,349
Peaky Blinders (2013–2022) Crime, Drama 60 min 8.8 Votes: 533,930
House (2004–2012) Drama, Mystery 44 min 8.7 Votes: 459,553
Quantico (2015–2018) Crime, Drama, Mystery 42 min 6.7 Votes: 61,006
Orphan Black (2013–2017) Drama, Sci-Fi, Thriller 44 min 8.3 Votes: 110,908
Homeland (2011–2020) Crime, Drama, Mystery 55 min 8.3 Votes: 339,848
Blindspot (2015–2020) Action, Crime, Drama 42 min 7.3 Votes: 73,849
DC's Legends of Tomorrow (2016–2022) Action, Adventure, Drama 42 min 6.8 Votes: 104,564
The Handmaid's Tale (2017– ) Drama, Sci-Fi, Thriller 60 min 8.4 Votes: 228,208
Chilling Adventures of Sabrina (2018–2020) Drama, Fantasy, Horror 60 min 7.4 Votes: 94,106
The Good Doctor (2017– ) Drama 41 min 8.1 Votes: 92,988
Jane the Virgin (2014–2019) Comedy 60 min 7.9 Votes: 50,185
Glee (2009–2015) Comedy, Drama, Music 44 min 6.8 Votes: 148,082
South Park (1997– ) Animation, Comedy 22 min 8.7 Votes: 366,918
Brooklyn Nine-Nine (2013–2021) Comedy, Crime 22 min 8.4 Votes: 310,383
Under the Dome (2013–2015) Drama, Mystery, Sci-Fi 43 min 6.5 Votes: 106,593
The Umbrella Academy (2019–2023) Action, Adventure, Comedy 60 min 7.9 Votes: 244,408
True Detective (2014–2019) Crime, Drama, Mystery 55 min 8.9 Votes: 563,904
The OA (2016–2019) Drama, Fantasy, Mystery 60 min 7.8 Votes: 104,431
Desperate Housewives (2004–2012) Comedy, Drama, Mystery 45 min 7.6 Votes: 128,469
Better Call Saul (2015–2022) Crime, Drama 46 min 8.9 Votes: 506,592
Bates Motel (2013–2017) Drama, Horror, Mystery 45 min 8.1 Votes: 107,621
The Punisher (2017–2019) Action, Crime, Drama 53 min 8.5 Votes: 232,463
Atypical (2017–2021) Comedy, Drama 30 min 8.3 Votes: 87,544
Dynasty (2017–2022) Drama 42 min 7.2 Votes: 22,302
This Is Us (2016–2022) Comedy, Drama, Romance 45 min 8.7 Votes: 142,531
The Good Place (2016–2020) Comedy, Drama, Fantasy 22 min 8.2 Votes: 157,437
Iron Fist (2017–2018) Action, Adventure, Crime 55 min 6.4 Votes: 130,461
The Rain (2018–2020) Drama, Sci-Fi, Thriller 45 min 6.3 Votes: 37,056
Mindhunter (2017–2019) Crime, Drama, Mystery 60 min 8.6 Votes: 282,746
Revenge (2011–2015) Drama, Mystery, Thriller 44 min 7.8 Votes: 120,020
Luke Cage (2016–2018) Action, Crime, Drama 55 min 7.3 Votes: 130,643
Scandal (2012–2018) Drama, Thriller 43 min 7.7 Votes: 73,761
The Defenders (2017) Action, Adventure, Crime 50 min 7.2 Votes: 107,075
Big Little Lies (2017–2019) Crime, Drama, Mystery 60 min 8.5 Votes: 196,446
Insatiable (2018–2019) Comedy, Drama, Thriller 45 min 6.5 Votes: 28,694
The Mentalist (2008–2015) Crime, Drama, Mystery 43 min 8.1 Votes: 184,118
The Crown (2016– ) Biography, Drama, History 58 min 8.7 Votes: 202,247
Chernobyl (2019) Drama, History, Thriller 330 min 9.4 Votes: 736,306
iZombie (2015–2019) Comedy, Crime, Drama 42 min 7.8 Votes: 67,998
Reign (2013–2017) Drama 42 min 7.4 Votes: 49,698
A Series of Unfortunate Events (2017–2019) Adventure, Comedy, Drama 50 min 7.8 Votes: 60,760
Criminal Minds (2005–2020) Crime, Drama, Mystery 42 min 8.1 Votes: 195,566
Scream: The TV Series (2015–2019) Comedy, Crime, Drama 45 min 7.1 Votes: 41,160
The Haunting of Hill House (2018) Drama, Horror, Mystery 572 min 8.6 Votes: 238,249

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [229]:
driver.get("https://archive.ics.uci.edu/")

In [230]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "/html/body/table[1]/tbody/tr/td[2]/span[2]/a"))).click()

In [252]:
dataset=[]
table = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody")
for row in table:
    cols = row.find_elements(By.TAG_NAME,"tr")
    for td in cols:
        cells = td.find_elements(By.TAG_NAME,"td") 
        try :
            DataTypeValue = cells[3].text
        except Exception as ex:
            DataTypeValue = '-'
        try :
            TaskValue = cells[2].text
        except Exception as ex:
            TaskValue = '-'
        try :
            AttributeValue = cells[3].text
        except Exception as ex:
            AttributeValue = '-' 
        try :
            InstancesValue = cells[4].text
        except Exception as ex:
            InstancesValue = '-'
        try :
            AttributeNoValue = cells[5].text
        except Exception as ex:
            AttributeNoValue = '-'
        try :
            YearValue = cells[6].text
        except Exception as ex:
            YearNoValue = '-'    
        data = {
            "Name":cells[0].text,
            "DataType":DataTypeValue,
            "Task":TaskValue,
            "Attribute":AttributeValue,
            "Instances":InstancesValue,
            "No of Attribute":AttributeNoValue,
            "Year":YearValue
        }
        dataset.append(data)
        
for name in dataset:
    name['Name'],name['DataType'],name['Task'],name['Instances'],name['No of Attribute'],name['Year']
    
df=pd.DataFrame(dataset)
df

,Name,DataType,Task,Attribute,Instances,No of Attribute,Year
0,Name,Attribute Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177
2,,-,-,-,-,-,4177
3,Adult,Multivariate,Adult,Multivariate,Classification,"Categorical, Integer",48842
4,,-,-,-,-,-,48842
...,...,...,...,...,...,...,...
1240,,-,-,-,-,-,1014
1241,Room Occupancy Estimation,"Multivariate, Time-Series",Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129
1242,,-,-,-,-,-,10129
1243,Image Recognition Task Execution Times in Mo...,Univariate,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000
1244,,-,-,-,-,-,4000