# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

# 1. First get the webpage https://www.naukri.com/

In [17]:
pip install selenium

Requirement already satisfied: selenium in c:\users\prachi\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\prachi\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: outcome in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\prachi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\prachi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\prachi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\prachi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\prachi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\prachi\anaconda3\lib\site-packages)

In [61]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [99]:
driver = webdriver.Chrome(executable_path="E:\\prachi datatrained\\FlipRoboTech\\chromedriver.exe")

C:\Users\Prachi\AppData\Local\Temp/ipykernel_10052/2163838404.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="E:\\prachi datatrained\\FlipRoboTech\\chromedriver.exe")

In [63]:
print(type(driver))

<class 'selenium.webdriver.chrome.webdriver.WebDriver'>

In [4]:
driver.get("https://www.naukri.com")

# 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [60]:
from selenium.webdriver.common.by import By

In [136]:
textboxes=driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input")
print(textboxes)

<selenium.webdriver.remote.webelement.WebElement (session="7802e025450050065b9fb739c41ca489", element="554e0417-7ab8-44c4-bac4-e8dc156390a1")>

In [137]:
textboxes.send_keys("Data Analyst")

In [139]:
location=driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[5]/div/div/div/input")
print(location)

<selenium.webdriver.remote.webelement.WebElement (session="7802e025450050065b9fb739c41ca489", element="d26f8f7d-5de9-4398-90c3-709625bdfc6f")>

In [140]:
location.send_keys("Bangalore")

# 3. Then click the search button

In [9]:
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC

In [145]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='root']/div[6]/div/div/div[6]"))).click()

# 4. Then scrape the data for the first 10 jobs results you get.

In [248]:
rows = driver.find_elements(By.XPATH,"//*[@id='root']/div[4]/div/section[2]/div[2]/article")
for row in rows[0:10]:
    jobsrow=row.find_element(By.CLASS_NAME, 'title').text.replace("."," ")
    print(jobsrow)

Customer Data Analyst
Sr  Data Analyst
Data Analyst - Decision Science
Contractual Hiring For Top MNC || Business Data Analyst || Bangalore
Immediate opening For Data Analyst @ Bangalore
Associate Data Analyst
Associate Data Analyst
Senior Data Analyst
Data Analyst - Python/Artificial Intelligence
Data Analyst

# 5. Finally create a dataframe of the scraped data.

In [222]:
import pandas as pd

In [272]:
positions = []
for row in rows[0:10]:
    positions.append(row.find_element(By.CLASS_NAME, 'title').text.replace("."," "))
    #print(positions)
pd.DataFrame(positions)

                                                   0
0                              Customer Data Analyst
1                                   Sr  Data Analyst
2                    Data Analyst - Decision Science
3  Contractual Hiring For Top MNC || Business Dat...
4     Immediate opening For Data Analyst @ Bangalore
5                             Associate Data Analyst
6                             Associate Data Analyst
7                                Senior Data Analyst
8      Data Analyst - Python/Artificial Intelligence
9                                       Data Analyst

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:

# 1. First get the webpage https://www.naukri.com/

In [273]:
driver.get("https://www.naukri.com")

# 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [277]:
txtbox = driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input")

In [278]:
a = txtbox.send_keys('Data Scientist')

In [280]:
txtbox_Location = driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[5]/div/div/div/input")
b = txtbox_Location.send_keys('Bangalore')

# 3. Then click the search button

In [281]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='root']/div[6]/div/div/div[6]"))).click()

# 4. Then scrape the data for the first 10 jobs results you get.

In [286]:
data = driver.find_elements(By.XPATH,"//*[@id='root']/div[4]/div/section[2]/div[2]/article")
for row in data[0:10]:
    scraped=row.find_element(By.CLASS_NAME, 'title').text.replace("."," ")
    print(scraped)

Job Opportunity on Data Science_ Python with Techmahindra
Assistant Manager - Data Science
Analystics & Modeling Specialist
Hiring For DATA Scientist @ NTT DATA Business Solution India
Data Science Consultant
Data Scientist
Data Scientist
Data Scientist
Data Scientist
Lead ML Scientist

# 5. Finally create a dataframe of the scraped data.

In [287]:
scraped_data = []
for row in data[0:10]:
    scraped_data.append(row.find_element(By.CLASS_NAME, 'title').text.replace("."," "))
    
pd.DataFrame(scraped_data)

                                                   0
0  Job Opportunity on Data Science_ Python with T...
1                   Assistant Manager - Data Science
2                   Analystics & Modeling Specialist
3  Hiring For DATA Scientist @ NTT DATA Business ...
4                            Data Science Consultant
5                                     Data Scientist
6                                     Data Scientist
7                                     Data Scientist
8                                     Data Scientist
9                                  Lead ML Scientist

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

# You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company name, experience required. 
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

# 1. first get the webpage https://www.naukri.com/

In [288]:
driver.get("https://www.naukri.com")

# 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [289]:
skill_txtbox = driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[1]/div/div/div/input")
a = skill_txtbox.send_keys('Data Scientist')

# 3. Then click the search button.

In [290]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='root']/div[6]/div/div/div[6]"))).click()

# 4. Then apply the location filter and salary filter by checking the respective boxes

In [300]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC

In [313]:
location = driver.find_elements(By.XPATH,"//*[@id='chk-Delhi / NCR-cityTypeGid-']")
for item in location:
    driver.execute_script("arguments[0].click();", item)

In [314]:
salary = driver.find_elements(By.XPATH,"//*[@id='chk-3-6 Lakhs-ctcFilter-']")
for item in salary:
    driver.execute_script("arguments[0].click();", item)

# 5. Then scrape the data for the first 10 jobs results you get.

In [316]:
data = driver.find_elements(By.XPATH,"//*[@id='root']/div[4]/div/section[2]/div[2]/article")
for row in data[0:10]:
    scraped=row.find_element(By.CLASS_NAME, 'title').text.replace("."," ")
    print(scraped)

DigitalBCG GAMMA Data Scientist
Data Scientist
Data Scientist / Chat-bot Developer
Lead Data Scientist
Data Scientist - Predictive Analytics
Data Scientist For Healthcare Product team
Data Scientist - Engine Algorithm
Data Scientist
Data Scientist
Data Scientist, Associate

# 6. Finally create a dataframe of the scraped data.

In [317]:
scraped_data = []
for row in data[0:10]:
    scraped_data.append(row.find_element(By.CLASS_NAME, 'title').text.replace("."," "))
    
pd.DataFrame(scraped_data)

                                            0
0             DigitalBCG GAMMA Data Scientist
1                              Data Scientist
2         Data Scientist / Chat-bot Developer
3                         Lead Data Scientist
4       Data Scientist - Predictive Analytics
5  Data Scientist For Healthcare Product team
6           Data Scientist - Engine Algorithm
7                              Data Scientist
8                              Data Scientist
9                   Data Scientist, Associate

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
# 1. Brand
# 2. Product Description
# 3. Price
# The attributes which you have to scrape is ticked marked in the below image.

# 1. Go to Flipkart webpage by url : https://www.flipkart.com/

In [318]:
driver.get("https://www.flipkart.com/")

# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

In [319]:
txtbox = driver.find_element(By.XPATH,"//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
a = txtbox.send_keys('sunglasses')

In [320]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/button"))).click()

# 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

In [396]:
body = driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]")
container = body.find_elements(By.CLASS_NAME, '_1xHGtK')

flipkartGlasses = []

for item in container:
    data = {
        "Brand":item.find_element(By.CLASS_NAME, '_2WkVRV').text,
        "Descriptoin": item.find_element(By.CLASS_NAME, 'IRpwTa').text,
        "Price": item.find_element(By.CLASS_NAME, '_30jeq3').text,
        "Discount": item.find_element(By.CLASS_NAME, '_3Ay6Sb').text
    }
    flipkartGlasses.append(data)
    
for name in flipkartGlasses:
    print(name['Brand'],' - ' ,name['Descriptoin'] ,' - ',name['Price'],' - ',name['Discount']) 

    #print(name)

ROYAL SON  -  UV Protection Rectangular, Retro Square Sunglasses (58)  -  ₹424  -  71% off
VINCENT CHASE  -  Polarized, UV Protection Round Sunglasses (50)  -  ₹1,099  -  45% off
New Specs  -  UV Protection Rectangular Sunglasses (Free Size)  -  ₹250  -  90% off
PHENOMENAL  -  UV Protection Retro Square Sunglasses (53)  -  ₹267  -  73% off
PIRASO  -  UV Protection Aviator Sunglasses (54)  -  ₹237  -  85% off
LIZA ANGEL  -  Riding Glasses, Night Vision Spectacle Sunglasses (Fre...  -  ₹189  -  81% off
SHAAH COLLECTIONS  -  UV Protection, Polarized, Mirrored Rectangular Sunglass...  -  ₹195  -  88% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Round Sunglasses (...  -  ₹949  -  52% off
Fastrack  -  UV Protection Aviator Sunglasses (Free Size)  -  ₹639  -  20% off
Sewell  -  Mirrored, Night Vision, UV Protection, Riding Glasses S...  -  ₹251  -  83% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Cat-eye Sunglasses...  -  ₹1,049  -  58% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Cat-eye Sunglasses...  -  ₹679  -  72% off
SUNBEE  -  UV Protection, Polarized Wayfarer Sunglasses (Free Size...  -  ₹268  -  79% off
CRYSTAL CART  -  Mirrored, Night Vision Oval Sunglasses (Free Size)  -  ₹172  -  71% off
Elligator  -  UV Protection Round Sunglasses (54)  -  ₹298  -  88% off
New Specs  -  Mirrored, UV Protection, Riding Glasses, Others Round S...  -  ₹296  -  81% off
PIRASO  -  UV Protection Rectangular Sunglasses (52)  -  ₹246  -  84% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Wayfarer Sunglasse...  -  ₹686  -  72% off
Rich Club  -  UV Protection Retro Square Sunglasses (54)  -  ₹299  -  57% off
PIRASO  -  UV Protection Aviator Sunglasses (54)  -  ₹237  -  85% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Round Sunglasses (...  -  ₹1,049  -  47% off
ROYAL SON  -  Polarized, UV Protection Retro Square Sunglasses (55)  -  ₹519  -  74% off
PIRASO  -  UV Protection Wayfarer Sunglasses (32)  -  ₹237  -  85% off
Fastrack  -  UV Protection Wayfarer Sunglasses (Free Size)  -  ₹799  -  20% off
SRPM  -  UV Protection Wayfarer Sunglasses (50)  -  ₹197  -  84% off
Lee Topper  -  UV Protection Rectangular Sunglasses (Free Size)  -  ₹219  -  78% off
PIRASO  -  UV Protection Aviator Sunglasses (58)  -  ₹323  -  87% off
ROYAL SON  -  Mirrored Aviator Sunglasses (55)  -  ₹339  -  77% off
ROZZETTA CRAFT  -  Polarized, Riding Glasses Sports, Wrap-around Sunglasse...  -  ₹449  -  77% off
PIRASO  -  UV Protection Wayfarer Sunglasses (55)  -  ₹237  -  85% off
ROYAL SON  -  Polarized, UV Protection Aviator Sunglasses (57)  -  ₹639  -  68% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Aviator Sunglasses...  -  ₹949  -  52% off
CRYSTAL CART  -  Polarized, UV Protection, Gradient, Riding Glasses Rect...  -  ₹313  -  79% off
ROYAL SON  -  UV Protection, Gradient Butterfly Sunglasses (52)  -  ₹559  -  72% off
PIRASO  -  UV Protection Aviator Sunglasses (55)  -  ₹237  -  85% off
New Specs  -  UV Protection Oval Sunglasses (Free Size)  -  ₹196  -  80% off
EYELLUSION  -  Riding Glasses, Riding Glasses, UV Protection Round Sun...  -  ₹189  -  81% off
VINCENT CHASE  -  by Lenskart UV Protection Round Sunglasses (58)  -  ₹1,049  -  47% off
kingsunglasses  -  UV Protection Round Sunglasses (54)  -  ₹214  -  78% off
New Specs  -  UV Protection Round Sunglasses (Free Size)  -  ₹268  -  79% off

# 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.

In [382]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='container']/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]"))).click()

# 5. Now scrape data from this page as usual

In [394]:
body = driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]")
container = body.find_elements(By.CLASS_NAME, '_1xHGtK')

flipkartGlasses = []

for item in container:
    data = {
        "Brand":item.find_element(By.CLASS_NAME, '_2WkVRV').text,
        "Descriptoin": item.find_element(By.CLASS_NAME, 'IRpwTa').text,
        "Price": item.find_element(By.CLASS_NAME, '_30jeq3').text,
        "Discount": item.find_element(By.CLASS_NAME, '_3Ay6Sb').text
    }
    flipkartGlasses.append(data)
    
for name in flipkartGlasses:
    print(name['Brand'],' - ' ,name['Descriptoin'] ,' - ',name['Price'],' - ',name['Discount'])

VINCENT CHASE  -  by Lenskart Polarized, UV Protection Wayfarer Sunglasse...  -  ₹749  -  70% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Round Sunglasses (...  -  ₹999  -  50% off
Fastrack  -  UV Protection Shield Sunglasses (Free Size)  -  ₹719  -  20% off
kingsunglasses  -  UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...  -  ₹213  -  82% off
CRYSTAL CART  -  Polarized, UV Protection, Mirrored, Gradient Rectangula...  -  ₹476  -  77% off
Fastrack  -  UV Protection Aviator Sunglasses (58)  -  ₹1,039  -  20% off
Silver Kartz  -  UV Protection Wayfarer Sunglasses (Free Size)  -  ₹288  -  80% off
kingsunglasses  -  Mirrored, UV Protection Wayfarer Sunglasses (Free Size)  -  ₹254  -  83% off
ROZZETTA CRAFT  -  UV Protection Spectacle Sunglasses (Free Size)  -  ₹319  -  84% off
HIPPON  -  UV Protection Wayfarer Sunglasses (55)  -  ₹207  -  82% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Cat-eye Sunglasses...  -  ₹1,049  -  47% off
AISLIN  -  Toughened Glass Lens, UV Protection Aviator, Wayfarer S...  -  ₹746  -  79% off
DEIXELS  -  Polarized, UV Protection, Riding Glasses Wayfarer Sungl...  -  ₹224  -  62% off
Fastrack  -  UV Protection Aviator Sunglasses (58)  -  ₹1,169  -  10% off
Rich Club  -  Polarized Round Sunglasses (48)  -  ₹209  -  58% off
ROYAL SON  -  Polarized, UV Protection Retro Square Sunglasses (61)  -  ₹559  -  62% off
Fastrack  -  UV Protection Round Sunglasses (52)  -  ₹599  -  25% off
VINCENT CHASE  -  by Lenskart UV Protection Round Sunglasses (48)  -  ₹999  -  50% off
ROYAL SON  -  Mirrored Aviator Sunglasses (Free Size)  -  ₹339  -  77% off
Fastrack  -  Mirrored, UV Protection Wayfarer Sunglasses (Free Size)  -  ₹899  -  10% off
AISLIN  -  UV Protection, Gradient Cat-eye, Round Sunglasses (62)  -  ₹422  -  75% off
ROYAL SON  -  Polarized, UV Protection Round Sunglasses (52)  -  ₹639  -  68% off
Ray-Ban  -  UV Protection Retro Square Sunglasses (55)  -  ₹3,289  -  40% off
New Specs  -  UV Protection Rectangular Sunglasses (Free Size)  -  ₹189  -  88% off
Fastrack  -  Gradient, UV Protection Wayfarer Sunglasses (Free Size)  -  ₹719  -  20% off
Fastrack  -  UV Protection Wayfarer Sunglasses (Free Size)  -  ₹559  -  30% off
Dannilo  -  UV Protection Aviator Sunglasses (Free Size)  -  ₹230  -  76% off
NuVew  -  UV Protection Sports Sunglasses (62)  -  ₹307  -  75% off
ROYAL SON  -  UV Protection Rectangular, Retro Square Sunglasses (58)  -  ₹424  -  71% off
ROYAL SON  -  Mirrored Aviator Sunglasses (58)  -  ₹339  -  77% off
VINCENT CHASE  -  Polarized, UV Protection Rectangular Sunglasses (69)  -  ₹1,049  -  58% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Aviator Sunglasses...  -  ₹949  -  52% off
Fastrack  -  UV Protection Aviator Sunglasses (58)  -  ₹1,039  -  20% off
ROYAL SON  -  Polarized Rectangular Sunglasses (60)  -  ₹559  -  72% off
kingsunglasses  -  UV Protection, Night Vision Wayfarer Sunglasses (Free S...  -  ₹284  -  81% off
ROZZETTA CRAFT  -  UV Protection, Gradient Retro Square Sunglasses (Free S...  -  ₹314  -  84% off
kingsunglasses  -  Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...  -  ₹289  -  85% off
ROYAL SON  -  UV Protection, Polarized Wayfarer Sunglasses (54)  -  ₹639  -  68% off
Singco India  -  Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...  -  ₹296  -  85% off
kingsunglasses  -  Mirrored, UV Protection Wayfarer Sunglasses (53)  -  ₹284  -  85% off

# 6. Repeat this until you get data for 100 sunglasses.

In [385]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='container']/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]"))).click()

In [393]:
body = driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]")
container = body.find_elements(By.CLASS_NAME, '_1xHGtK')

flipkartGlasses = []

for item in container[0:20]:
    data = {
        "Brand":item.find_element(By.CLASS_NAME, '_2WkVRV').text,
        "Descriptoin": item.find_element(By.CLASS_NAME, 'IRpwTa').text,
        "Price": item.find_element(By.CLASS_NAME, '_30jeq3').text,
        "Discount": item.find_element(By.CLASS_NAME, '_3Ay6Sb').text
    }
    flipkartGlasses.append(data)
    
for name in flipkartGlasses:
    print(name['Brand'],' - ' ,name['Descriptoin'] ,' - ',name['Price'],' - ',name['Discount'])

AISLIN  -  UV Protection, Gradient Cat-eye Sunglasses (58)  -  ₹448  -  70% off
VINCENT CHASE  -  Polarized, UV Protection Round Sunglasses (50)  -  ₹1,049  -  47% off
Fastrack  -  UV Protection Wayfarer Sunglasses (56)  -  ₹989  -  23% off
SUNBEE  -  UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...  -  ₹268  -  79% off
kingsunglasses  -  UV Protection, Others Round, Aviator Sunglasses (54)  -  ₹214  -  78% off
Rich Club  -  UV Protection Cat-eye Sunglasses (48)  -  ₹263  -  62% off
ROYAL SON  -  Polarized, UV Protection Sports Sunglasses (68)  -  ₹1,039  -  58% off
Mi  -  Polarized Aviator Sunglasses (Free Size)  -  ₹799  -  33% off
kingsunglasses  -  UV Protection, Mirrored Round Sunglasses (54)  -  ₹245  -  79% off
CRYSTAL CART  -  Polarized, Gradient, UV Protection, Mirrored Over-sized...  -  ₹220  -  88% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Cat-eye Sunglasses...  -  ₹1,049  -  47% off
ROYAL SON  -  UV Protection, Polarized Round Sunglasses (54)  -  ₹699  -  65% off
VINCENT CHASE  -  by Lenskart Polarized, UV Protection Rectangular Sungla...  -  ₹749  -  62% off
PIRASO  -  UV Protection Over-sized Sunglasses (65)  -  ₹383  -  85% off
ROYAL SON  -  UV Protection Retro Square Sunglasses (60)  -  ₹479  -  76% off
ROYAL SON  -  Others Retro Square Sunglasses (58)  -  ₹424  -  71% off
LIZA ANGEL  -  Riding Glasses, Night Vision Retro Square, Spectacle S...  -  ₹189  -  81% off
VINCENT CHASE  -  UV Protection Rectangular Sunglasses (52)  -  ₹699  -  65% off
PIRASO  -  UV Protection Aviator Sunglasses (54)  -  ₹237  -  85% off
GANSTA  -  Night Vision, Riding Glasses Rectangular Sunglasses (60...  -  ₹215  -  83% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button

In [93]:
driver.get("https://www.flipkart.com/")

In [94]:
txtbox = driver.find_element(By.XPATH,"//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
a = txtbox.send_keys('iphone 11')

In [95]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/button"))).click()

In [96]:
driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a").click()

In [97]:
#driver.find_element(By.XPATH,"/html/body").send_keys(Keys.COMMAND + 't') 
driver.switch_to.window(driver.window_handles[1])
driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a").click()

AttributeError: 'NoneType' object has no attribute 'click'

In [ ]:
body = driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div/div/div[2]")
#container = body.find_elements(By.CLASS_NAME, '_1xHGtK')

rawLinks = body.find_elements(By.CLASS_NAME, 'ge-49M')

actualLinks = []

for link in rawLinks:
    actualLink= link.get_attribute("href")
    actualLinks.append(actualLink)

sneakers = [] 

for i in range(len(actualLinks)):
    if len(sneakers) >= 100:
        break
    driver.get(actualLinks[i])
    print(actualLinks[i])
    products = driver.find_elements(By.CLASS_NAME,'_1xHGtK')
    for product in products:
        data = {
            "Brand":product.find_element(By.CLASS_NAME, '_2WkVRV').text,
            "Descriptoin": product.find_element(By.CLASS_NAME, 'IRpwTa').text,
            "Price": product.find_element(By.CLASS_NAME, '_30jeq3').text,
            "Discount": product.find_element(By.CLASS_NAME, '_3Ay6Sb').text
        }
        if len(sneakers) < 100:            
            sneakers.append(data)
    
for name in sneakers:
    print(name['Brand'],'-',name['Descriptoin'],'-',name['Price'],'-',name['Discount'])

In [16]:
 
body = driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div/div/div[2]")
container = body.find_elements(By.CLASS_NAME, '_2wzgFH')
print('Executing')
flipkartphone = []

for i in range(1,10):
    isSuccess = False
    try:
        for item in container:
            data = {
                "Ratings":item.find_element(By.CLASS_NAME, '_3LWZlK').text,
                "Summary": item.find_element(By.CLASS_NAME, '_2-N8zT').text,
                "FullReview": item.find_element(By.CLASS_NAME, 't-ZTKy').text               
            }
            flipkartphone.append(data)       
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        isSuccess = True
        print(i)
        print('Success')
    except:
        isSuccess = False
        print(i)
        print('failed')

for name in flipkartphone:
    print(name['Summary'])
    #print(name['Ratings'],' - ' ,name['Summary'] ,' - ',name['FullReview'])

Executing
1
Success
2
failed
3
failed
4
failed
5
failed
6
failed
7
failed
8
failed
9
failed
Simply awesome
Perfect product!
Best in the market!
Worth every penny
Highly recommended
Fabulous!
Great product
Highly recommended
Worth every penny
Good choice
Simply awesome
Perfect product!
Best in the market!
Worth every penny
Highly recommended
Fabulous!
Great product

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [64]:
driver.get("https://www.flipkart.com/")

In [65]:
from time import sleep
txtbox = driver.find_element(By.XPATH,"//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
a = txtbox.send_keys('sneakers')
sleep(1)

In [66]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/button"))).click()

In [67]:
Brand_class='_2WkVRV'
Description_class='IRpwTa'
Price_class='_30jeq3'
Discount_class='_3Ay6Sb'
next_button='_1LKTO3'

In [92]:
body = driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]")
#container = body.find_elements(By.CLASS_NAME, '_1xHGtK')

rawLinks = body.find_elements(By.CLASS_NAME, 'ge-49M')

actualLinks = []

for link in rawLinks:
    actualLink= link.get_attribute("href")
    actualLinks.append(actualLink)

sneakers = [] 

for i in range(len(actualLinks)):
    if len(sneakers) >= 100:
        break
    driver.get(actualLinks[i])
    print(actualLinks[i])
    products = driver.find_elements(By.CLASS_NAME,'_1xHGtK')
    for product in products:
        data = {
            "Brand":product.find_element(By.CLASS_NAME, '_2WkVRV').text,
            "Descriptoin": product.find_element(By.CLASS_NAME, 'IRpwTa').text,
            "Price": product.find_element(By.CLASS_NAME, '_30jeq3').text,
            "Discount": product.find_element(By.CLASS_NAME, '_3Ay6Sb').text
        }
        if len(sneakers) < 100:            
            sneakers.append(data)
    
for name in sneakers:
    print(name['Brand'],'-',name['Descriptoin'],'-',name['Price'],'-',name['Discount'])

https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1
https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2
https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3
Labbin - Sneakers For Men - ₹329 - 67% off
BRUTON - Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men - ₹179 - 70% off
Chevit - Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ... - ₹498 - 73% off
Shozie - Sneakers For Men - ₹389 - 61% off
aadi - Sneakers For Men - ₹279 - 72% off
TR - Sneakers For Men - ₹295 - 80% off
Layasa - supr Sneakers For Men - ₹199 - 80% off
BRUTON - Modern Trendy Sneakers Shoes Sneakers For Men - ₹231 - 82% off
RapidBox - Sneakers For Men - ₹549 - 45% off
Chevit - Unique & Perfect Collection Combo Pack of 02 Shoes for ... - ₹407 - 72% off
Kzaara - Sneakers For Men - ₹233 - 76% off
Layasa - supr Sneakers For Men - ₹199 - 80% off
Deals4you - Sneakers For Women - ₹439 - 70% off
HOTSTYLE - Sneakers For Men - ₹292 - 70% off
BRUTON - Combo Pack of 2 Sports Running LightWeight Shoes, Sneak... - ₹634 - 84% off
SCATCHITE - Sneakers Sneakers For Men - ₹360 - 63% off
DUNKASTON - Casual Sneakers For Men - ₹299 - 80% off
asian - Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,... - ₹419 - 47% off
Kraasa - Casuals, Canvas, Partywear Sneakers For Men - ₹428 - 57% off
BRUTON - Exclusive Sneaker Shoes Sneakers For Men - ₹319 - 75% off
TR - Casual White Sneakers For Men - ₹299 - 80% off
Shozie - Sneakers For Men - ₹399 - 60% off
BRUTON - Modern Trendy Sneakers Shoes Sneakers For Men - ₹320 - 75% off
Shozie - Sneakers For Men - ₹348 - 65% off
DUNKASTON - Sneakers For Men - ₹299 - 80% off
Deals4you - Sneakers For Women - ₹299 - 70% off
Shozie - Breathable, Walking, Running, Casual, Gym Shoes Sneaker... - ₹379 - 62% off
Magnolia - Sneakers For Men - ₹399 - 60% off
Layasa - Sneakers For Men - ₹399 - 60% off
ASTEROID - Original Luxury Branded Fashionable Men's Casual Walkin... - ₹449 - 77% off
Layasa - Sneakers For Men - ₹394 - 60% off
Kraasa - Series 7 Sneakers For Men - ₹428 - 57% off
BRUTON - Lattest Sneakers Shoe Sneakers For Men - ₹239 - 81% off
WHITE WALKERS - Stylish & Trending Outdoor Walking Comfortable Sneakers... - ₹509 - 57% off
Xtoon - Modern Trendy Sneakers boot Sneakers For Men - ₹424 - 71% off
KWIK FIT - Kwik FIT casual sneaker shoes and partywear shoes Casua... - ₹399 - 80% off
Magnolia - Sneakers For Men - ₹396 - 60% off
Robbie jones - Sneakers For Men - ₹394 - 60% off
Deals4you - Sneakers For Women - ₹249 - 83% off
Robbie jones - Casual Sneakers Canvas Shoes For Men Sneakers For Men - ₹394 - 60% off
AMICO - Sneakers For Men - ₹406 - 59% off
K- FOOTLANCE - Sneakers For Men - ₹376 - 62% off
Sparx - Men White Sneakers Sneakers For Men - ₹619 - 27% off
URBANBOX - Sneakers Sneakers For Men - ₹198 - 80% off
BRUTON - Modern Trendy Sneakers Shoes Sneakers For Men - ₹315 - 75% off
PUMA - BMW MMS A3ROCAT Sneakers For Men - ₹3,279 - 59% off
BRUTON - Modern Trendy Sneakers Shoes Sneakers For Men - ₹352 - 72% off
KNIGHT WALKERS - SS1100 Sneakers For Men - ₹664 - 66% off
aadi - Mesh | Ultralightweight | Comfortable | Breathable Walk... - ₹399 - 80% off
RapidBox - Sneakers For Men - ₹485 - 51% off
Deals4you - Sneakers For Men - ₹383 - 74% off
Zapatoz - Sneakers For Women - ₹299 - 70% off
Deals4you - Sneakers For Men - ₹352 - 64% off
Robbie jones - Sneakers For Men - ₹394 - 60% off
Krors - Mens Sneakers Shoes, Casual Shoes Sneakers For Men - ₹499 - 50% off
Dizzler - Sneakers For Men - ₹413 - 42% off
HRX by Hrithik Roshan - Men White Grey Colour blocked Chunky Sneakers Sneakers ... - ₹1,629 - 66% off
Kzaara - Sneakers For Men - ₹239 - 76% off
D-SNEAKERZ - Casual , Partywear Sneakers Shoes For Men's And Boys Wh... - ₹296 - 55% off
Layasa - Sneakers For Men - ₹399 - 60% off
Real Bliss - Fashion Sneaker Shoes Sneakers For Men - ₹449 - 55% off
Xtoon - Black casual shoes for men's, boot for men's,black boot... - ₹424 - 71% off
Rzisbo - Sneakers For Men - ₹412 - 58% off
Chevit - Modern Stylish Combo Pack of 3 Jogging, Walking, Gym Sh... - ₹568 - 76% off
Deals4you - Sneakers For Women - ₹398 - 73% off
World Wear Footwear - Latest Collection-1215 Stylish Casual Sports Sneakers F... - ₹249 - 50% off
Sparx - Sneakers For Men - ₹656 - 27% off
Xtoon - Modern Trendy Sneakers boot Sneakers For Men - ₹424 - 71% off
LE GREEM - Comfortable & Ultra Light Weight Sneaker Sneakers For M... - ₹449 - 55% off
ASTEROID - Original Luxury Branded Fashionable Men's Casual Walkin... - ₹449 - 55% off
RapidBox - Sneakers For Men - ₹549 - 45% off
PORT - Mesh | Ultralightweight | Comfortable | Breathable Walk... - ₹399 - 80% off
bluemaker - casual for men Sneakers For Men - ₹479 - 52% off
HOCKWOOD - Street Smart Sneakers For Men - ₹745 - 25% off
Sparx - Sneakers For Men - ₹619 - 27% off
aadi - Sneakers For Men - ₹399 - 60% off
Layasa - Sneakers For Men - ₹399 - 60% off
Layasa - Sneakers For Women - ₹579 - 71% off
bluemaker - casual shoe for men Sneakers For Men - ₹479 - 52% off
ONECENTRE - STR2 Sneakers For Men - ₹284 - 76% off
Sparx - Sneakers For Men - ₹619 - 27% off
Robbie jones - Sneakers For Men - ₹423 - 57% off
DUCATI - Sneakers For Men - ₹1,031 - 71% off
Shozie - Sneakers For Men - ₹448 - 55% off
LE GREEM - Comfortable & Ultra Light Weight Sneaker Sneakers For M... - ₹449 - 55% off
Robbie jones - Casual Sneakers White Shoes For Men Sneakers For Men - ₹423 - 57% off
Krors - Men's Casual Walking Partywear Sneakers Running White S... - ₹499 - 50% off
Vellinto - Casual Sneakrs For Men Sneakers For Men - ₹456 - 64% off
T-ROCK - Stylish White Casual Walking Sneakers Shoes For Men and... - ₹413 - 58% off
Chevit - Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou... - ₹559 - 68% off
Layasa - Sneakers For Women - ₹445 - 55% off
tigonis - Tigonis Casuals For Men Sneakers For Men (White) Sneake... - ₹450 - 69% off
WHITE WALKERS - Stylish & Trending Outdoor Walking Comfortable Sneakers... - ₹509 - 57% off
ACTION - Athleo ATG-424 Men's Black Mesh Best Comfort Running Gy... - ₹602 - 68% off
Roadster - Sneakers For Men - ₹1,116 - 63% off
Kraasa - Shark-41 Sneakers For Men - ₹419 - 58% off
BIRDE - Premium Sneakers For Men Sneakers For Men - ₹450 - 69% off
Sparx - SM-620 Sneakers For Men - ₹909 - 30% off
KNIGHTWING - Stylish Comfortable Sneakers For Men Sneakers For Men - ₹799 - 55% off
TUNER - Sneakers For Men - ₹429 - 57% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

In [250]:
driver.get("https://www.myntra.com/shoes")

In [251]:
price = driver.find_elements(By.XPATH,"//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/input")
for item in price:
    driver.execute_script("arguments[0].click();", item)

In [252]:
color = driver.find_elements(By.XPATH,"//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
for item in color:
    driver.execute_script("arguments[0].click();", item)

In [256]:
body = driver.find_element(By.XPATH,"//*[@id='desktopSearchResults']/div[2]")
#container = body.find_elements(By.CLASS_NAME, '_1xHGtK')

rawLinks = body.find_elements(By.CLASS_NAME, 'pagination-active')

actualLinks = []

for link in rawLinks:
    actualLink= link.find_element(By.CSS_SELECTOR,"a").get_attribute("href")    
    actualLinks.append(actualLink)
    
rawLinks = body.find_elements(By.CLASS_NAME, 'pagination-number')

for link in rawLinks:
    actualLink= link.find_element(By.CSS_SELECTOR,"a").get_attribute("href")    
    actualLinks.append(actualLink)    

shoes=[]

for i in range(len(actualLinks)):
    if len(shoes) >=100:
        break
    driver.get(actualLinks[i])
    print(actualLinks[i])
    products = driver.find_elements(By.CLASS_NAME,'product-base')
    for product in products:
        data = {
            "Brand":product.find_element(By.CLASS_NAME, 'product-brand').text,
            "Descriptoin": product.find_element(By.CLASS_NAME, 'product-product').text,
            "Price": product.find_element(By.CLASS_NAME, 'product-price').text            
        }
        
        if len(shoes) < 100:            
            shoes.append(data)
            
for name in shoes:
    print(name['Brand'],'-',name['Descriptoin'],'-',name['Price'])

https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7164.0_14109.0_7164.0%20TO%2014109.0
https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7164.0_14109.0_7164.0%20TO%2014109.0&p=2
Nike - Men ZOOM WINFLO8 Running Shoes - Rs. 7880Rs. 8295(5% OFF)
ADIDAS Originals - Men Leather Niteball Sneakers - Rs. 10799Rs. 11999(10% OFF)
ADIDAS Originals - Men Niteball II Sneakers - Rs. 9349Rs. 10999(15% OFF)
Skechers - Men Sports Shoes - Rs. 8499
ADIDAS Originals - Men Retropy F90 Sneakers - Rs. 9999
Nike - Men React Infinity 3 Running - Rs. 13295Rs. 13995(5% OFF)
Nike - Men Air Max Sneakers - Rs. 7880Rs. 8295(5% OFF)
ADIDAS - Men Dropset Training Shoes - Rs. 12999
Tommy Hilfiger - Men Solid Sneakers - Rs. 9999
ADIDAS Originals - Men Ozrah Leather Sneakers - Rs. 11049Rs. 12999(15% OFF)
Nike - Men JORDAN LOW Basketball Shoe - Rs. 12795
UNDER ARMOUR - Men UA TriBase Reign4 Training - Rs. 10199Rs. 11999(15% OFF)
Puma - Eternity Nitro Running Shoes - Rs. 12999
ADIDAS Originals - Men Colorblocked Ozrah Sneaker - Rs. 11699Rs. 12999(10% OFF)
Nike - Men REACT MILER 3 Running Shoe - Rs. 10495
Tommy Hilfiger - Men Leather Sneakers - Rs. 8299
Nike - Men SRG 3 FK Training Shoes - Rs. 8450Rs. 8895(5% OFF)
UNDER ARMOUR - Men HOVR Sonic SE Running Shoe - Rs. 8499Rs. 9999(15% OFF)
Nike - Men FREE RUN 2 Sneakers - Rs. 9210Rs. 9695(5% OFF)
ADIDAS - Men Defiant Generation Tennis - Rs. 7999Rs. 9999(20% OFF)
Nike - Air Max Axis Sneakers - Rs. 8355Rs. 8795(5% OFF)
Nike - Men Running Shoes - Rs. 7495
Puma - Men Liberate Running Shoes - Rs. 8799Rs. 10999(20% OFF)
Puma - Men Deviate Nitro Shoes - Rs. 10499Rs. 14999(30% OFF)
Nike - Women Running Shoes - Rs. 7880Rs. 8295(5% OFF)
Nike - Kyrie Flytrap 5 Basketball - Rs. 8195
ADIDAS - Men Entry Hiker 2.R.RDY Trek - Rs. 7649Rs. 8999(15% OFF)
Puma - Men Nitro 2 WIDE Running Shoes - Rs. 9599Rs. 11999(20% OFF)
Puma - Men Reverse Classics Sneakers - Rs. 7199Rs. 8999(20% OFF)
Puma - Unisex Wild Rider Sneakers - Rs. 7199Rs. 8999(20% OFF)
ASICS - Men GEL-CUMULUS 23 MK Running - Rs. 7499Rs. 9999(25% OFF)
Nike - Men Zoom C Pro HC Tennis Shoes - Rs. 7560Rs. 8895(15% OFF)
ADIDAS - Men Response Super 3.0 Run - Rs. 8999
ADIDAS - Men Adizero Adios 7 Running - Rs. 9599Rs. 11999(20% OFF)
Puma - Men M Nitro Running Shoess - Rs. 9099Rs. 12999(30% OFF)
ADIDAS Originals - Men Solid Retropy F2 Sneakers - Rs. 8099Rs. 8999(10% OFF)
ROSSO BRUNELLO - Men Textured Leather Loafers - Rs. 12999
Tommy Hilfiger - Men Leather Sneakers - Rs. 7799
Bugatti - Men Walking Shoes - Rs. 7499Rs. 9999(25% OFF)
ADIDAS Originals - Men Woven Nmd_R1 Sneakers - Rs. 12999
ADIDAS Originals - Men Woven NMD_31 Sneakers - Rs. 11199Rs. 13999(20% OFF)
ADIDAS - Women Supernova Running Shoes - Rs. 9999
ADIDAS Originals - Men ZX 22 BOOST Sneakers - Rs. 10799Rs. 11999(10% OFF)
Puma - Unisex Eliminate Pro II Shoes - Rs. 7199Rs. 8999(20% OFF)
ADIDAS Originals - Men Retropy F90 Sneakers - Rs. 9999
Nike - Women React Escape Running - Rs. 9770Rs. 11495(15% OFF)
Tommy Hilfiger - Men Leather Sneakers - Rs. 8999
Puma - Men Velocity Nitro 2 Running - Rs. 8799Rs. 10999(20% OFF)
Tommy Hilfiger - Men Solid Sneakers - Rs. 8299
ADIDAS - Men 4DFWD_Pulse Running Shoes - Rs. 13599Rs. 15999(15% OFF)
ADIDAS - Men 4DFWD_Pulse Running Shoes - Rs. 13599Rs. 15999(15% OFF)
Tommy Hilfiger - Men Leather Sneakers - Rs. 8299
ADIDAS Originals - Women Superstar Sneakers - Rs. 9999
ADIDAS - Men Response Super 3.0 Run - Rs. 8999
Reebok - Men Zig Dynamica2Adventure Run - Rs. 8999
Skechers - Men GO WALK - TERRA Shoes - Rs. 8999Rs. 9999(10% OFF)
Skechers - Men Sports Shoes - Rs. 8499
Saint G - Leather Block Sandals with Buckles - Rs. 8505Rs. 10500(19% OFF)
Skechers - Men Sports Shoes - Rs. 7999
PUMA Hoops - Fives Blaze Court Basketball - Rs. 7699Rs. 10999(30% OFF)
ADIDAS - Women Super 3.0 Running Shoes - Rs. 8999
ASICS - Evoride 3 Running Shoes - Rs. 8499Rs. 9999(15% OFF)
Columbia - PEAKFREAK OUTDRY Trekking Shoe - Rs. 9999
fitflop - Embellished Leather Wedge Sandals - Rs. 7499
Tommy Hilfiger - Men Leather Mid-Top Sneakers - Rs. 10999
Tommy Hilfiger - Men Leather Sneakers - Rs. 10999
Tommy Hilfiger - Women Leather Sneakers - Rs. 7599
UNDER ARMOUR - Women Hovr Sonic SE Run Shoes - Rs. 8999Rs. 9999(10% OFF)
ADIDAS Originals - Men Ozweego Sneakers - Rs. 10999
ROSSO BRUNELLO - Men Leather Driving Shoes - Rs. 9999
Skechers - Men Sky Vault Walking Shoes - Rs. 8999
Tommy Hilfiger - Women Solid Slim Heel Sandals - Rs. 7299
Saint G - Leather Ankle Boots - Rs. 9025Rs. 9500(5% OFF)
Tommy Hilfiger - Men Leather Sneakers - Rs. 8799
Puma - Women UltraRide Running Shoes - Rs. 8999
Saint G - Suede Embellished Ankle Boots - Rs. 8455Rs. 8900(5% OFF)
Tommy Hilfiger - Men Solid Sneakers - Rs. 8099Rs. 8999(10% OFF)
Clarks - Men Woven Design Suede Flat Boots - Rs. 9999
J.FONTINI - Men Textured Leather Loafers - Rs. 8490
Calvin Klein - Men Leather Sneakers - Rs. 8999
ECCO - Women Textured Leather Sneakers - Rs. 13999
Tommy Hilfiger - Men Solid Sneakers - Rs. 7799
Hush Puppies - Men Perforations Leather Slip-On Sneakers - Rs. 7999
Saint G - Women Suede Chelsea Boot - Rs. 10925Rs. 11500(5% OFF)
Hush Puppies - Men Solid Leather Formal Slip-Ons - Rs. 9999
Saint G - Leather Block - Rs. 9975Rs. 10500(5% OFF)
Geox - Women Leather Slip-On Sneakers - Rs. 11990
Geox - Women Textured Leather Loafers - Rs. 9990
Louis Philippe - Men Solid Leather Formal Loafers - Rs. 9999
DAVINCHI - Men Solid Leather Formal Loafers - Rs. 8490
Skechers - Women Printed Trekking Shoes - Rs. 8999
J.FONTINI - Men Formal Shoes - Rs. 7490
Tommy Hilfiger - Women Leather Sneakers - Rs. 8599
Skechers - Women Arch Fit Slip-On Sneaker - Rs. 7999
Tommy Hilfiger - Women Leather Kitten Sandals - Rs. 7199Rs. 7999(10% OFF)
Columbia - Women REDMOND V2 TrekkingShoe - Rs. 7999
ADIDAS - Women Solar Glide 5 Running - Rs. 9799Rs. 13999(30% OFF)
UNDER ARMOUR - W omen TriBase Reign 4 Running - Rs. 8399Rs. 11999(30% OFF)
ADIDAS - Women SL20.3 Running Shoes - Rs. 7799Rs. 11999(35% OFF)
ADIDAS - Women Adizero Adios 7 Run Shoe - Rs. 9599Rs. 11999(20% OFF)

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [268]:
driver.get("https://www.amazon.in/")

In [270]:
txtbox = driver.find_element(By.XPATH,"//*[@id='twotabsearchtextbox']")
a = txtbox.send_keys('Laptop')

In [271]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='nav-search-submit-button']"))).click()

In [272]:
core = driver.find_elements(By.XPATH,"//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div/label/i")
for item in core:
    driver.execute_script("arguments[0].click();", item)

In [278]:
data = driver.find_elements(By.XPATH,"//*[@id='search']/div[1]/div[1]/div/span[3]/div[2]")

laptop=[]
for row in data[0:10]:
    products = driver.find_elements(By.CLASS_NAME,'sg-row')
    for product in products:
        data = {
            "Title":driver.find_element(By.CLASS_NAME, 'a-size-mini.a-spacing-none').text,
            "Ratings": driver.find_element(By.CLASS_NAME, 'a-icon-alt').text,
            "Price": driver.find_element(By.CLASS_NAME, 'a-price-whole').text            
        }
        laptop.append(data)
        
for name in laptop:
    print(name['Title'],'-',name['Ratings'],'-',name['Price'])

Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990
Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN -  - 82,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [279]:
driver.get("https://www.ambitionbox.com/")

In [280]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='ambitionbox-header']/nav/ul/li[5]/a"))).click()

In [281]:
txtbox = driver.find_element(By.XPATH,"//*[@id='jobs-typeahead']/span/input")
a = txtbox.send_keys('Data Scientist')

In [282]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='jobs']/div[2]/div[1]/div[1]/div/div/div/button/span"))).click()

In [283]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='filters-row']/div/div/div[2]/div[1]/i"))).click()

In [284]:
location = driver.find_elements(By.XPATH,"//*[@id='filters-row']/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/label")
for item in location:
    driver.execute_script("arguments[0].click();", item)

In [294]:
data = driver.find_elements(By.XPATH,"//*[@id='jobsList']/div[2]/div[2]/div")

jobs=[]
for row in data:
    products = driver.find_elements(By.CLASS_NAME,'jobInfoCard')
    for product in products:
        data = {
            "Title":product.find_element(By.CLASS_NAME, 'company.body-medium').text,
            "Time":product.find_element(By.CLASS_NAME, 'body-small-l').text,
            "Ratings":product.find_element(By.CLASS_NAME, 'body-small').text
        }
        jobs.append(data)
        
for name in jobs:
    print(name['Title'],name['Time'],name['Ratings'])

Optum Global Solutions (India) Private Limited 2-7 Yrs 4.1
BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED 2-7 Yrs 4.3
EY GDS 10-20 Yrs 3.8
GLOBALLOGIC INDIA PRIVATE LIMITED 8-10 Yrs 4.0
GENPACT India Private Limited 7-12 Yrs 4.0
Genpact 6-10 Yrs 4.0
Ericsson India Global Services Pvt. Ltd. 4-12 Yrs 4.3
Dew Solutions Pvt. Ltd. 3-8 Yrs 4.3
One97 Communications Limited 1-2 Yrs 3.8
EY 3-8 Yrs 3.8

In [295]:
df=pd.DataFrame(jobs)
df

                                            Title       Time Ratings
0  Optum Global Solutions (India) Private Limited    2-7 Yrs     4.1
1  BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED    2-7 Yrs     4.3
2                                          EY GDS  10-20 Yrs     3.8
3               GLOBALLOGIC INDIA PRIVATE LIMITED   8-10 Yrs     4.0
4                   GENPACT India Private Limited   7-12 Yrs     4.0
5                                         Genpact   6-10 Yrs     4.0
6        Ericsson India Global Services Pvt. Ltd.   4-12 Yrs     4.3
7                         Dew Solutions Pvt. Ltd.    3-8 Yrs     4.3
8                    One97 Communications Limited    1-2 Yrs     3.8
9                                              EY    3-8 Yrs     3.8

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [304]:
driver.get("https://www.ambitionbox.com/")

In [308]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='ambitionbox-header']/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a"))).click()

In [312]:
txtbox = driver.find_element(By.XPATH,"//*[@id='jobProfileSearchbox']")
a = txtbox.send_keys('Data Scientist')

In [313]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='jobProfileSearchbox']"))).click()

In [315]:
data = driver.find_elements(By.XPATH,"//*[@id='sal-table']/div[2]")

jobs=[]
for row in data:
    products = driver.find_elements(By.CLASS_NAME,'result-row')
    for product in products:
        data = {
            "CompanyName":product.find_element(By.CLASS_NAME, 'company-info').text,
            "Salary":product.find_element(By.CLASS_NAME, 'datapoints').text,
            "Average":product.find_element(By.CLASS_NAME, 'averageCtc').text,
            "Minimum":product.find_element(By.CLASS_NAME, 'value.body-medium').text,
            "Maximum":product.find_element(By.CLASS_NAME, 'value.body-medium').text,
            "Experience":product.find_element(By.CLASS_NAME, 'sbold-list-header').text,
        }
        jobs.append(data)
        
for name in jobs:
    print(name['CompanyName'],name['Salary'],name['Average'],name['Minimum'],name['Maximum'],name['Experience'])

Google
Software Engineer Salary
1-4 yrs experience (based on 58 salaries) (based on 58 salaries) ₹ 35.5L ₹ 12.7L ₹ 12.7L 1-4 yrs experience (based on 58 salaries)
Microsoft Corporation
Software Engineer Salary
1-4 yrs experience (based on 338 salaries) (based on 338 salaries) ₹ 23.8L ₹ 13.2L ₹ 13.2L 1-4 yrs experience (based on 338 salaries)
Goldman Sachs
Software Engineer Salary
1-2 yrs experience (based on 36 salaries) (based on 36 salaries) ₹ 22.9L ₹ 12.0L ₹ 12.0L 1-2 yrs experience (based on 36 salaries)
Arista Networks
Software Engineer Salary
1-4 yrs experience (based on 51 salaries) (based on 51 salaries) ₹ 22.3L ₹ 5.0L ₹ 5.0L 1-4 yrs experience (based on 51 salaries)
Tekion
Software Engineer Salary
2-4 yrs experience (based on 50 salaries) (based on 50 salaries) ₹ 21.9L ₹ 11.7L ₹ 11.7L 2-4 yrs experience (based on 50 salaries)
Amazon
Software Engineer Salary
1-4 yrs experience (based on 140 salaries) (based on 140 salaries) ₹ 21.2L ₹ 8.7L ₹ 8.7L 1-4 yrs experience (based on 140 salaries)
Servicenow Software Development India
Software Engineer Salary
2-4 yrs experience (based on 79 salaries) (based on 79 salaries) ₹ 21.1L ₹ 14.0L ₹ 14.0L 2-4 yrs experience (based on 79 salaries)
Walmart
Software Engineer Salary
1-4 yrs experience (based on 110 salaries) (based on 110 salaries) ₹ 20.2L ₹ 12.0L ₹ 12.0L 1-4 yrs experience (based on 110 salaries)
PayPal
Software Engineer Salary
1-2 yrs experience (based on 29 salaries) (based on 29 salaries) ₹ 19.6L ₹ 12.0L ₹ 12.0L 1-2 yrs experience (based on 29 salaries)
Arcesium
Software Engineer Salary
1-2 yrs experience (based on 69 salaries) (based on 69 salaries) ₹ 19.5L ₹ 12.0L ₹ 12.0L 1-2 yrs experience (based on 69 salaries)

In [316]:
df=pd.DataFrame(jobs)
df

,CompanyName,Salary,Average,Minimum,Maximum,Experience
0,Google\nSoftware Engineer Salary\n1-4 yrs expe...,(based on 58 salaries),₹ 35.5L,₹ 12.7L,₹ 12.7L,1-4 yrs experience (based on 58 salaries)
1,Microsoft Corporation\nSoftware Engineer Salar...,(based on 338 salaries),₹ 23.8L,₹ 13.2L,₹ 13.2L,1-4 yrs experience (based on 338 salaries)
2,Goldman Sachs\nSoftware Engineer Salary\n1-2 y...,(based on 36 salaries),₹ 22.9L,₹ 12.0L,₹ 12.0L,1-2 yrs experience (based on 36 salaries)
3,Arista Networks\nSoftware Engineer Salary\n1-4...,(based on 51 salaries),₹ 22.3L,₹ 5.0L,₹ 5.0L,1-4 yrs experience (based on 51 salaries)
4,Tekion\nSoftware Engineer Salary\n2-4 yrs expe...,(based on 50 salaries),₹ 21.9L,₹ 11.7L,₹ 11.7L,2-4 yrs experience (based on 50 salaries)
5,Amazon\nSoftware Engineer Salary\n1-4 yrs expe...,(based on 140 salaries),₹ 21.2L,₹ 8.7L,₹ 8.7L,1-4 yrs experience (based on 140 salaries)
6,Servicenow Software Development India\nSoftwar...,(based on 79 salaries),₹ 21.1L,₹ 14.0L,₹ 14.0L,2-4 yrs experience (based on 79 salaries)
7,Walmart\nSoftware Engineer Salary\n1-4 yrs exp...,(based on 110 salaries),₹ 20.2L,₹ 12.0L,₹ 12.0L,1-4 yrs experience (based on 110 salaries)
8,PayPal\nSoftware Engineer Salary\n1-2 yrs expe...,(based on 29 salaries),₹ 19.6L,₹ 12.0L,₹ 12.0L,1-2 yrs experience (based on 29 salaries)
9,Arcesium\nSoftware Engineer Salary\n1-2 yrs ex...,(based on 69 salaries),₹ 19.5L,₹ 12.0L,₹ 12.0L,1-2 yrs experience (based on 69 salaries)